<section class="header-section hedsect">
    <app-header></app-header>
    <app-banner [isHome]="true">

        <div class="listbox-wrapper container">
            <ul class="cours-listbox" style="width:100%">
                <li class="list-item">
                    <a href="#">
                        <div class="thumbnail-cours-img">
                            <img src="assets/images/3.png">
                        </div>
                        <div class="timeline"></div>
                        <div class="wrapper">
                            <h1 class="cours-title">C# Class</h1>
                            <div class="cours-date number-persian">چهارشنبه . 24 شهریور . از ساعت 14 تا 17</div>
                            <div class="teacher number-persian">تدریس توسط استاد علی دهقان</div>
                            
                        </div>
                        <div class="btn btn-primery number-persian">92000 تومان
                            <i class="icon-ic_left"></i>
                        </div>
                    </a>
                </li>
                <li class="list-item">
                    <a href="#">
                        <div class="thumbnail-cours-img">
                            <img src="assets/assets/images/1.png">
                        </div>
                        <div class="timeline"></div>
                        <div class="wrapper">
                            <h1 class="cours-title">Angular Js.</h1>
                            <div class="cours-date number-persian">سه شنبه . 11 شهریور . از ساعت 9 تا 11</div>
                            <div class="teacher number-persian">تدریس توسط استاد مرتضی دلیل</div>
                            
                        </div>
                        <div class="btn btn-primery number-persian">67000 تومان
                            <i class="icon-ic_left"></i>
                        </div>
                    </a>
                </li>
                <li class="list-item">
                    <a href="#">
                        <div class="thumbnail-cours-img">
                            <img src="assets/images/7.png">
                        </div>
                        <div class="timeline"></div>
                        <div class="wrapper">
                            <h1 class="cours-title">Android Software</h1>
                            <div class="cours-date number-persian"> شنبه . 22 دی ماه . از ساعت 17 تا 19</div>
                            <div class="teacher number-persian">تدریس توسط استاد حامد غدیریان</div>
                            
                        </div>
                        <div class="btn btn-primery number-persian">87000 تومان
                            <i class="icon-ic_left"></i>
                        </div>
                    </a>
                </li>
                <li class="list-item">
                    <a href="#">
                        <div class="thumbnail-cours-img">
                            <img src="assets/images/2.png">
                        </div>
                        <div class="timeline"></div>
                        <div class="wrapper">
                            <h1 class="cours-title">C++ Class</h1>
                            <div class="cours-date number-persian"> جمعه . 1 فروردین . از ساعت 12 تا 14</div>
                            <div class="teacher number-persian">تدریس توسط استاد علی مردانه</div>
                            
                        </div>
                        <div class="btn btn-primery number-persian">100000 تومان
                            <i class="icon-ic_left"></i>
                        </div>
                    </a>
                </li>
                <li class="list-item">
                    <a href="#">
                        <div class="thumbnail-cours-img">
                            <img src="assets/images/6.png">
                        </div>
                        <div class="timeline"></div>
                        <div class="wrapper">
                            <h1 class="cours-title">ASP.net</h1>
                            <div class="cours-date number-persian">یک شنبه . 14 خرداد . از ساعت 13 تا 17</div>
                            <div class="teacher number-persian">تدریس توسط استاد فرید ذوالغدر</div>
                            
                        </div>
                        <div class="btn btn-primery number-persian">99000 تومان
                            <i class="icon-ic_left"></i>
                        </div>
                    </a>
                </li>
                <li class="more sans-font">
                    <a href="#">
                        دوره های بیشتر
                        <i class="icon-ic_left"></i>
                    </a>
                </li>
            </ul>
        </div>
    </app-banner>

</section>

<app-footer></app-footer>