<section class="purchase">
  <div class="purchase-wrapper">
    <span class="title-purchase">
      {{title}}
    </span>
    
    <a class="btn" *ngFor="let btn of btns" (click)="onClick(btn)">
      {{btn.text}}
    </a>
  </div>
</section>