/* comment-section css of fframework */
.comment-wrapper {
  width: 80%;
  margin: 20px auto;
}
@media (max-width: 766px) {
  .comment-wrapper {
    width: 100%;
  }
}
.comment-wrapper .profile > li {
  display: inline-block;
  vertical-align: top;
}
@media (max-width: 650px) {
  .comment-wrapper .profile .right {
    width: 10%;
    min-width: 75px;
  }
}
@media (max-width: 470px) {
  .comment-wrapper .profile .right {
    position: absolute;
    min-width: 50px;
  }
}
.comment-wrapper .profile .right .profile-img {
  width: 127px;
  height: 127px;
}
@media (max-width: 1199px) {
  .comment-wrapper .profile .right .profile-img {
    width: 120px;
    height: 120px;
  }
}
@media (max-width: 650px) {
  .comment-wrapper .profile .right .profile-img {
    width: 75px;
    height: 75px;
  }
}
@media (max-width: 470px) {
  .comment-wrapper .profile .right .profile-img {
    width: 50px;
    height: 50px;
    top: 20px;
  }
}
.comment-wrapper .profile .right > span {
  display: block;
}
.comment-wrapper .profile .right .comment-img {
  width: 85px;
  height: 85px;
}
@media (max-width: 650px) {
  .comment-wrapper .profile .right .comment-img {
    width: 75px;
    height: 75px;
  }
}
@media (max-width: 470px) {
  .comment-wrapper .profile .right .comment-img {
    width: 50px;
    height: 50px;
  }
}
.comment-wrapper .profile .left {
  width: 79%;
}
@media (max-width: 766px) {
  .comment-wrapper .profile .left {
    width: 80%;
  }
}
@media (max-width: 470px) {
  .comment-wrapper .profile .left {
    width: 100%;
  }
}
.comment-wrapper .profile .form-wrapper .wrapper {
  position: relative;
}
.comment-wrapper .profile .form-wrapper .wrapper > textarea {
  width: 80%;
  height: 134px;
  border: 1px solid  #f7f4f4;
  background: #FFFFFF;
  box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.07), 0 16px 24px 0 rgba(0, 0, 0, 0.06);
  border-radius: 10px;
}
.comment-wrapper .profile .form-wrapper .wrapper > button {
  background: #3475F3;
  box-shadow: 0 12px 13px 0 rgba(52, 117, 243, 0.2);
  border-radius: 100px;
  border: 1px solid #3475F3;
  color: #ffff;
  font-size: 12px;
  padding: 3px 7px 6px 7px;
  left: 22%;
  top: 71%;
  position: absolute;
}
.comment-wrapper .profile .wrapper {
  padding: 20px 50px 0 0;
}
@media (max-width: 1199px) {
  .comment-wrapper .profile .wrapper {
    padding: 20px 60px 0 0;
  }
}
.comment-wrapper .profile .wrapper .comment-box {
  border: 1px solid #f7f4f4;
  background: #FFFFFF;
  box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.07), 0 16px 24px 0 rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  padding: 10px 0;
  text-align: justify;
  position: relative;
}
.comment-wrapper .profile .wrapper .comment-box::before {
  content: "";
  height: 60px;
  width: 50px;
  background-image: url(../images/36.png);
  background-repeat: no-repeat;
  background-size: cover;
  right: -50px;
  position: absolute;
  top: 74px;
}
.comment-wrapper .profile .wrapper .comment-box > p {
  padding: 20px;
  font-size: 11px;
}
.comment-wrapper .profile .wrapper .btn {
  background: #3C485E;
  border-radius: 100px;
  font-size: 9px;
  color: #FFFFFF;
  position: relative;
  right: 4%;
  padding: 0px 6px;
  width: 75px;
  display: inline-block;
  text-align: center;
}
.comment-wrapper .profile .wrapper .like-wrapper {
  position: relative;
  width: 135px;
  display: inline-block;
  float: left;
  left: 0;
  vertical-align: middle;
}
.comment-wrapper .profile .wrapper .like-wrapper .btn {
  font-size: 10px;
  color: #FFFFFF;
  border-radius: 100px;
  text-align: center;
  right: 0;
  width: 35px;
}
.comment-wrapper .profile .wrapper .like-wrapper .like {
  background: #40D059;
}
.comment-wrapper .profile .wrapper .like-wrapper .dis-like {
  background: #E54B4B;
}
.comment-wrapper .lg-name {
  display: block;
}
@media (max-width: 991px) {
  .comment-wrapper .lg-name {
    display: none !important;
  }
}
.comment-wrapper .sm-name {
  display: none !important;
}
@media (max-width: 991px) {
  .comment-wrapper .sm-name {
    display: block !important;
    color: #3b3b3b;
    text-align: right;
    padding-right: 20px;
  }
}
.comment-wrapper .reply {
  position: relative;
}
.comment-wrapper .reply .right {
  position: absolute;
  left: 4px;
}
@media (max-width: 991px) {
  .comment-wrapper .reply .right {
    min-width: 40px;
    top: 4px;
  }
}
@media (max-width: 584px) {
  .comment-wrapper .reply .right {
    display: none;
  }
}
@media (max-width: 991px) {
  .comment-wrapper .reply .right .profile-img {
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 584px) {
  .comment-wrapper .reply .left {
    width: 100%;
  }
}
.comment-wrapper .reply .left .wrapper {
  padding-right: 20px;
}
@media (max-width: 584px) {
  .comment-wrapper .reply .left .wrapper {
    padding-right: 0;
  }
}
.comment-wrapper .reply .left .wrapper .comment-box {
  background: #3475F3;
  border: 1px solid #3475F3;
  box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.07), 0 16px 24px 0 rgba(0, 0, 0, 0.06);
  right: 0%;
  color: #fff;
  position: relative;
  padding: 0 0 0 0;
  font-size: 10px;
}
.comment-wrapper .reply .left .wrapper .comment-box::before {
  background-image: url(../images/37.png);
  left: -36px;
  top: 54px;
  right: auto;
  width: 35px;
  height: 71px;
}
@media (max-width: 584px) {
  .comment-wrapper .reply .left .wrapper .comment-box::before {
    display: none;
  }
}
.comment-wrapper .reply .left .wrapper .comment-box > p {
  padding-top: 0;
}
.comment-wrapper .reply .left .wrapper .comment-box .sm-name,
.comment-wrapper .reply .left .wrapper .comment-box .lg-name {
  color: #fff;
}
.comment-wrapper .reply .left .wrapper .comment-box .rig {
  border-top: 1px solid #186d96b3;
  margin-top: 20px;
  padding-bottom: 10px;
}
.comment-wrapper .reply .left .wrapper .comment-box .rig .right {
  width: 15%;
  right: 0;
  position: relative;
  min-width: 61px;
  padding-right: 5px;
}
@media (max-width: 991px) {
  .comment-wrapper .reply .left .wrapper .comment-box .rig .right {
    min-width: 40px;
    top: 4px;
    width: 10%;
  }
}
@media (max-width: 584px) {
  .comment-wrapper .reply .left .wrapper .comment-box .rig .right {
    display: none;
  }
}
.comment-wrapper .reply .left .wrapper .comment-box .rig .right .reply-img {
  width: 61px;
  height: 61px;
}
@media (max-width: 991px) {
  .comment-wrapper .reply .left .wrapper .comment-box .rig .right .reply-img {
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 584px) {
  .comment-wrapper .reply .left .wrapper .comment-box .rig .right .reply-img {
    display: none;
  }
}
.comment-wrapper .reply .left .wrapper .comment-box .rig .left {
  width: 83%;
}
@media (max-width: 584px) {
  .comment-wrapper .reply .left .wrapper .comment-box .rig .left {
    width: 100%;
  }
}
.comment-wrapper .reply .left .wrapper .comment-box .rig .left .wrapper {
  padding-right: 0;
}
.comment-wrapper .reply .left .wrapper .comment-box .btn {
  background: #fff;
  color: #3475F3;
  right: 15px;
  top: 0;
  vertical-align: middle;
}
.comment-wrapper .reply .left .wrapper .comment-box .like-wrapper .like {
  background: #40D059;
  color: #fff;
}
.comment-wrapper .reply .left .wrapper .comment-box .like-wrapper .dis-like {
  background: #E54B4B;
  color: #fff;
}
.comment-wrapper .reply .left .comment-reply-box {
  border: 0 !important;
  box-shadow: none !important;
  width: 97% !important;
  font-size: 8px !important;
}
.comment-wrapper .reply .left .comment-reply-box::before {
  display: none;
}
.comment-wrapper .reply .left .comment-reply-box > p {
  font-size: 9px;
  padding: 14px 17px 15px 26px;
}
.comment-wrapper .reply .left .comment-reply-box > span {
  font-size: 10px;
}
.comment-wrapper .reply .right {
  min-width: 86px;
}
