/* comment-section-guest css of fframework */
.comment-wrapper .guest .wrapper .comment-box {
  padding: 32px 0;
  text-align: center;
}
.comment-wrapper .guest .wrapper .comment-box > p {
  font-size: 20px;
  text-align: center;
}
@media (max-width: 360px) {
  .comment-wrapper .guest .wrapper .comment-box > p {
    font-size: 12px;
  }
}
.comment-wrapper .guest .wrapper .btn {
  background: #3475F3;
  box-shadow: 0 12px 13px 0;
  font-size: 17px;
  width: 170px;
  padding: 10px 30px;
  right: 0;
  left: 0;
  margin: auto;
}
.comment-wrapper .guest .wrapper .btn .icon-blueuser {
  vertical-align: middle;
  display: inline-block;
  padding-left: 5px;
}
.comment-wrapper .guest .wrapper .btn .icon-blueuser::before {
  color: #fff;
}
.comment-wrapper .guest .wrapper .btn > span {
  vertical-align: middle;
}
