/* course-download css of fframework */
.title-download {
  font-size: 18px;
  color: #555A6B;
  line-height: 40px;
}
.course-download-wrapper {
  padding: 0 30px 20px;
}
@media (max-width: 500px) {
  .course-download-wrapper {
    padding: 15px;
  }
}
.course-download-wrapper .btn {
  background: #3475F3;
  box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.07), 0 16px 24px 0 rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  color: #fff;
  padding: 20px;
  margin: 10px 0;
  display: block;
}
.course-download-wrapper .btn .right-side,
.course-download-wrapper .btn .left-side {
  display: inline-block;
  vertical-align: middle;
}
.course-download-wrapper .btn .right-side {
  width: 80%;
}
.course-download-wrapper .btn .right-side > h3 {
  padding: 4px 0 9px;
}
.course-download-wrapper .btn .right-side > span {
  color: rgba(255, 255, 255, 0.61);
}
.course-download-wrapper .btn .left-side {
  width: 19%;
  text-align: left;
  height: 100%;
}
.course-download-wrapper .btn .left-side .icon-wrapper > i {
  font-size: 35px;
}
.course-download-wrapper .btn > span {
  color: #e1dedee6;
}
