/* course-detail css of fframework */
.course-title {
  color: #fff;
  padding: 0px 10px 45px 0;
}
.course-title > span {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #32B67A;
  display: inline-block;
  vertical-align: middle;
  margin: 0px 10px;
}
.course-title > h1 {
  display: inline-block;
  vertical-align: middle;
}
.course-detail {
  padding-bottom: 80px;
  position: relative;
}
.course-detail .cours-slide {
  overflow: hidden;
  box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.07), 0 16px 24px 0 rgba(0, 0, 0, 0.06);
  border-radius: 20px 20px 0 0;
}
.course-detail .cours-slide > img {
  height: 100%;
  vertical-align: top;
}
@media (max-width: 991px) {
  .course-detail .cours-slide .img-lg {
    display: none;
  }
}
.course-detail .cours-slide .img-md {
  display: none;
}
@media (max-width: 991px) {
  .course-detail .cours-slide .img-md {
    display: block;
  }
}
@media (max-width: 360px) {
  .course-detail .cours-slide .img-md {
    display: none;
  }
}
.course-detail .cours-slide .img-sm {
  display: none;
}
@media (max-width: 360px) {
  .course-detail .cours-slide .img-sm {
    display: block;
  }
}
.course-detail .course-tools {
  position: relative;
  margin-top: -3%;
}
@media (max-width: 700px) {
  .course-detail .course-tools {
    position: absolute;
    top: 0;
    margin-top: 50px;
    width: 100%;
  }
}
.course-detail .course-tools > li {
  display: inline-block;
  padding: 0 10px;
}
@media (max-width: 700px) {
  .course-detail .course-tools > li {
    width: 40%;
    padding-bottom: 15px;
    display: block;
  }
}
@media (max-width: 600px) {
  .course-detail .course-tools > li {
    width: 60%;
  }
}
@media (max-width: 450px) {
  .course-detail .course-tools > li {
    width: 100%;
    padding-right: 0;
  }
}
.course-detail .course-tools > li .btn {
  background: #FFFFFF;
  box-shadow: 0 12px 34px 0 rgba(0, 0, 0, 0.14);
  padding: 10px 20px 10px 30px;
}
@media (max-width: 700px) {
  .course-detail .course-tools > li .btn {
    display: block;
    padding: 7px 18px;
  }
}
.course-detail .course-tools > li .btn > div {
  display: inline-block;
  vertical-align: middle;
  font-size: 40px;
}
@media (max-width: 700px) {
  .course-detail .course-tools > li .btn > div {
    font-size: 30px;
  }
}
.course-detail .course-tools > li .btn-icon {
  margin-left: 10px;
}
.course-detail .course-tools > li .btn-icon > span {
  top: 5px;
  position: relative;
}
.course-detail .course-tools > li .btn-icon .icon-calendar {
  top: 0;
}
.course-detail .course-tools > li .btn-text > h3 {
  font-size: 17px;
  color: #1A2224;
  line-height: 30px;
}
@media (max-width: 700px) {
  .course-detail .course-tools > li .btn-text > h3 {
    line-height: 14px;
  }
}
.course-detail .course-tools > li .btn-text > span {
  font-size: 12px;
  color: rgba(158, 158, 158, 0.73);
}
.course-detail .course-tools .dm-past {
  display: none;
}
@media (max-width: 700px) {
  .course-detail .course-tools .dm-past {
    display: block;
  }
}
.course-detail .course-tools .rate-course {
  float: left;
}
@media (max-width: 700px) {
  .course-detail .course-tools .rate-course {
    float: none;
  }
}
.course-detail .course-tools .rate-course .btn {
  background: #32B67A;
  padding: 15px 35px;
  text-align: center;
}
@media (max-width: 700px) {
  .course-detail .course-tools .rate-course .btn {
    padding: 5px 0;
  }
}
.course-detail .course-tools .rate-course .btn .btn-text > h3 {
  color: #fff;
  font-size: 26px;
  padding-bottom: 5px;
  font-family: Xenois;
}
@media (max-width: 700px) {
  .course-detail .course-tools .rate-course .btn .btn-text > h3 {
    line-height: 25px;
  }
}
.course-detail .course-tools .rate-course .btn .btn-text > span {
  color: #fff;
}
.course-detail .des-1 {
  padding: 45px 47px 20px 20px;
}
@media (max-width: 700px) {
  .course-detail .des-1 {
    padding: 45px 20px 20px 20px;
  }
}
.course-detail .des-1 > li {
  display: inline-block;
  vertical-align: top;
}
.course-detail .des-1 > li:first-child {
  width: 70%;
}
@media (max-width: 700px) {
  .course-detail .des-1 > li:first-child {
    width: 100%;
  }
}
.course-detail .des-1 > li:nth-child(2) {
  width: 29%;
}
@media (max-width: 700px) {
  .course-detail .des-1 > li:nth-child(2) {
    display: none;
  }
}
.course-detail .des-1 > li .content {
  border-left: 1px solid #ebe5e5;
  padding-left: 10px;
  min-height: 100px;
  overflow: hidden;
  text-align: justify;
}
@media (max-width: 700px) {
  .course-detail .des-1 > li .content {
    border-left: none;
  }
}
.course-detail .des-1 > li .des-wrapper {
  padding: 0 20px;
  text-align: center;
}
.course-detail .des-1 > li .des-wrapper .des-img {
  font-size: 60px;
  text-align: center;
  padding-bottom: 9px;
}
.course-detail .des-1 > li .des-wrapper .btn {
  background: #3475F3;
  border-radius: 30px;
  color: #fff;
  padding: 10px;
  font-size: 14px;
  display: block;
}
.course-detail .des-1 > li .des-wrapper .btn .lg-t {
  display: block;
}
@media (max-width: 991px) {
  .course-detail .des-1 > li .des-wrapper .btn .lg-t {
    display: none;
  }
}
.course-detail .des-1 > li .des-wrapper .btn .sm-t {
  display: none;
}
@media (max-width: 991px) {
  .course-detail .des-1 > li .des-wrapper .btn .sm-t {
    display: block;
  }
}
