/* news2 css of fframework */
.news-course-section .news2-box {
  border-radius: 20px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.07), 0 16px 24px 0 rgba(0, 0, 0, 0.06);
}
.news-course-section .news2-box .news-slide {
  overflow: hidden;
  box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.07), 0 16px 24px 0 rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  margin: 25px;
}
.news-course-section .news2-box .news-slide > img {
  width: 100%;
  vertical-align: top;
}
.content-news {
  padding: 15px 20px;
}
@media (max-width: 400px) {
  .content-news {
    padding: 0;
    text-align: justify;
  }
}
.content-news .title {
  color: #3475F3;
  font-size: 17px;
  padding: 10px 26px;
}
.content-news .text {
  color: #383838;
  font-size: 14px;
  padding: 0 26px;
}
.content-news > span {
  color: #CAD0D9;
  padding: 0 26px;
  font-size: 11px;
  line-height: 50px;
  display: inline-block;
}
.content-news .btn {
  background: #3475F3;
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  float: left;
  margin: 0 26px;
  border-radius: 5px;
}
.news2-section {
  background-image: none !important;
  min-height: 500px;
  padding-top: 50px;
}
