/* profile css of fframework */
.profile .right {
  width: 20%;
  text-align: center;
  margin: 20px auto;
  min-width: 187px;
  position: relative;
}
@media (max-width: 1199px) {
  .profile .right {
    width: 15%;
    min-width: 120px;
  }
}
.profile .right .rate-course {
  background: #32B67A;
  box-shadow: 0 5px 14px 0 rgba(50, 182, 122, 0.33);
  border-radius: 100px;
  padding: 6px 13px;
  position: absolute;
  z-index: 2;
  text-align: center;
  color: #fff;
}
@media (max-width: 1199px) {
  .profile .right .rate-course {
    top: -14px;
    right: -6px;
    padding: 4px 11px;
  }
}
.profile .right .rate-course > h3 {
  font-size: 13px;
  font-family: Xenois;
}
@media (max-width: 1199px) {
  .profile .right .rate-course > h3 {
    font-size: 10px;
  }
}
.profile .right .rate-course .star {
  width: 34px;
  margin-top: 4px;
}
.profile .right .profile-img {
  width: 187px;
  height: 187px;
  border-radius: 100px;
  overflow: hidden;
  position: relative;
}
@media (max-width: 1199px) {
  .profile .right .profile-img {
    width: 120px;
    height: 120px;
  }
}
.profile .right .profile-img > img {
  height: 100%;
}
.profile .left {
  width: 75%;
}
@media (max-width: 713px) {
  .profile .left {
    width: 70%;
  }
}
@media (max-width: 559px) {
  .profile .left {
    width: 100%;
    margin-right: 0;
  }
}
.profile .left .content > span {
  font-size: 11px;
  color: #7D8189;
}
.page-profile .page-profile-wrapper {
  padding-bottom: 15px;
}
.page-profile .page-profile-wrapper .profile {
  text-align: right !important;
  border-bottom: 1px solid #CFCFCF;
  margin: 0px !important;
  height: 125px;
  position: relative;
}
.page-profile .page-profile-wrapper .profile .profile-img {
  top: 10%;
  right: 6%;
}
.page-profile .page-profile-wrapper .profile .name {
  position: absolute;
  top: 28%;
  right: 30%;
  font-size: 18px;
  line-height: 33px;
}
.page-profile .page-profile-wrapper .profile .name > span {
  display: block;
  font-size: 13px;
  color: #7B7B7B;
}
.page-profile .page-profile-wrapper .profile .edit-info {
  display: inline-block;
  position: absolute;
  top: 59%;
  left: 10%;
  color: #7B7B7B;
}
.page-profile .page-profile-wrapper .des-1 {
  width: 80%;
  padding: 10px 9% 0px 10px;
}
.page-profile .page-profile-wrapper .des-1 .des-course {
  margin-top: 9%;
}
.page-profile .page-profile-wrapper .des-1 .des-course > li {
  display: inline-block;
  vertical-align: top;
  width: 29%;
  color: #C5BEAA;
  font-size: 14px;
}
.page-profile .page-profile-wrapper .des-2 {
  padding: 15px 9% 15px 0;
}
.page-profile .page-profile-wrapper .des-2 .btn {
  background: #D1CAB9;
  width: 7%;
  color: #fff;
  text-align: center;
  display: inline-block;
}
.page-profile .page-profile-wrapper .des-2 .hr {
  border-bottom: 1px solid #CFCFCF;
  width: 72%;
  display: inline-block;
  vertical-align: middle;
  margin: 0 20px;
}
.page-profile .page-profile-wrapper .des-3 {
  padding: 10px 9% 10px 10px;
  width: 80%;
}
.page-profile .page-profile-wrapper .des-3 .des-course-2 {
  border-bottom: 1px solid #CFCFCF;
  padding-bottom: 15px;
}
.page-profile .page-profile-wrapper .des-3 .des-course-2 > li {
  display: inline-block;
  vertical-align: top;
  width: 29%;
  font-size: 11px;
}
.page-profile .page-profile-wrapper .des-3 .des-course-2 > li > span {
  display: block;
}
.page-profile .page-profile-wrapper .des-3 .des-course-2 > li .btn {
  color: #fff;
  background: #32B67A;
  width: 53%;
  text-align: center;
  font-size: 12px;
}
.page-profile .page-profile-wrapper .des-3 .des-course-2 > li .mark {
  background: #FACA0C;
  color: #191919;
}
