/* profile-edit css of fframework */
.profile-edit .pro-edit-wrapper {
  width: 550px;
  background: #FFFEF8;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05), 0 16px 24px 0 rgba(0, 0, 0, 0.06);
  border-radius: 20px;
  margin: 40px auto;
  position: relative;
}
.profile-edit .pro-edit-wrapper .pro-edit-wrapper {
  background: #FFFEF8;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05), 0 16px 24px 0 rgba(0, 0, 0, 0.06);
  border-radius: 20px;
}
.profile-edit .pro-edit-wrapper .profile {
  text-align: center;
}
.profile-edit .pro-edit-wrapper .profile .icon-img {
  background: #FFFEF8;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05), 0 16px 24px 0 rgba(0, 0, 0, 0.06);
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 100px;
  margin: 20px;
  z-index: 2;
}
.profile-edit .pro-edit-wrapper .profile .profile-img {
  width: 120px;
  height: 120px;
  border-radius: 100px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 22px 25px 0 rgba(0, 0, 0, 0.12);
  margin: 20px auto;
}
.profile-edit .pro-edit-wrapper .profile .profile-img > img {
  height: 100%;
}
.profile-edit .pro-edit-wrapper .pro-form {
  text-align: center;
}
.profile-edit .pro-edit-wrapper .pro-form > form > input {
  background: rgba(239, 232, 216, 0.58);
  border-radius: 100px;
  border: none;
  width: 40%;
  font-size: 13px;
  padding: 15px;
  margin-bottom: 20px;
}
.profile-edit .pro-edit-wrapper .pro-form > form > span {
  display: block;
  font-size: 10px;
  color: #0D0D0D;
  line-height: 43px;
}
.profile-edit .pro-edit-wrapper .pro-form > form .btn {
  background: #32B67A;
  color: #fff;
  padding: 10px 15px;
  border: none;
  font-size: 13px;
  margin: 20px 0;
}
