/* registration css of fframework */
.registration .registration-wrapper {
  background: #FFFFFF;
  box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.07), 0 16px 24px 0 rgba(0, 0, 0, 0.06);
  border-radius: 20px;
  width: 400px;
  text-align: center;
  margin: 20px auto;
}
.registration .registration-wrapper .reg-list .item {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  color: #979797;
  font-size: 16px;
  width: 40%;
  padding: 20px 0;
  border-bottom: 2px solid #f2ececcc;
  transition-duration: 1s;
}
.registration .registration-wrapper .reg-tab {
  display: none;
}
.registration .registration-wrapper .reg-tab .reg-form {
  padding: 20px 40px;
}
.registration .registration-wrapper .reg-tab .reg-form > input {
  display: block;
  background: #F7F7F7;
  border-radius: 20px;
  border: none;
  padding: 20px;
  width: 90%;
  margin-bottom: 15px;
  font-size: 13px;
  color: #9F9F9F;
}
.registration .registration-wrapper .reg-tab .reg-form > button {
  background: #3475F3;
  border-radius: 20px;
  border: none;
  width: 100%;
  color: #fff;
  font-size: 18px;
  padding: 18px;
}
.registration .registration-wrapper .current {
  display: block;
}
.registration .registration-wrapper .reg-active {
  border-bottom: 2px solid #3475F3 !important;
  color: #3475F3 !important;
}
