/* text-box css of fframework */
.text-box {
  background: #F7F7F7;
  border-radius: 30px;
  padding: 30px;
  margin: 10px 30px;
}
@media (max-width: 700px) {
  .text-box {
    margin: 10px 5px;
    padding: 30px 10px;
  }
}
.text-box > li {
  display: inline-block;
  vertical-align: top;
}
.text-box .content {
  text-align: justify;
}
.text-box .content > h3 {
  font-size: 14px;
  color: #3475F3;
  line-height: 50px;
}
.text-box .right {
  width: 70%;
}
@media (max-width: 800px) {
  .text-box .right {
    width: 100%;
  }
}
.text-box .left {
  width: 26%;
  margin-right: 3%;
}
@media (max-width: 800px) {
  .text-box .left {
    width: 100%;
  }
}
