/*!
 * (SF) v1.0.0
 */
.modal-open {
  overflow: hidden;
}
.modal {
  /* display: none; */
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
.modal-content {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: 0;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}
.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}
.modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.modal-header .close {
  margin-top: -2px;
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
}
.modal-body {
  position: relative;
  padding: 15px;
}
.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 150px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  .modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}
/* base css of fframework */
html {
  height: 100%;
}
body {
  font: 12px/24px iranyekan, "Helvetica Neue", Helvetica, Arial, sans-serif;
  direction: rtl;
  margin: 0;
  padding: 0;
  color: #222222;
  overflow-x: hidden;
  background-color: #f9fbff;
}
*:focus {
  outline: none !important;
}
* {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .4s;
  transition-duration: .4s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (max-width: 360px) {
  .container {
    padding: 0;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.clearfix:before,
.clearfix:after,
.modal-header:before,
.modal-header:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}
.clearfix:after,
.modal-header:after,
.modal-footer:after {
  clear: both;
}
a {
  text-decoration: none;
  color: #007db6;
  display: inline-block;
}
a,
a label {
  cursor: pointer;
}
label {
  display: inline-block;
}
a:hover,
a:focus {
  text-decoration: none;
}
a:focus {
  outline: none;
  outline-offset: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  line-height: 16px;
  padding: 0;
  margin: 0;
  font-weight: 600;
}
h1,
.h1 {
  font-size: 20px;
}
h2,
.h2 {
  font-size: 19px;
}
h3,
.h3 {
  font-size: 18px;
}
h4,
.h4 {
  font-size: 17px;
}
h5,
.h5 {
  font-size: 16px;
}
h6,
.h6 {
  font-size: 15px;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
  padding: 0;
  margin: 0;
}
.dir-ltr {
  direction: ltr;
  text-align: left;
}
.dir-rtl {
  direction: rtl;
  text-align: right;
}
.sl-align-center {
  text-align: center;
}
.sl-margin-top {
  margin-top: 30px;
}
.number-persian {
  font-family: IRANSansNumbers;
  font-size: inherit;
  font-weight: 400;
}
.sans-font {
  font-family: IRANSans-web;
  font-size: inherit;
}
.english-font {
  font-weight: 400;
  font-family: Xenois;
}
.section-title {
  line-height: 80px;
  color: #4a5a6f;
  font-size: 21px;
}
.hedsect .shap-wrapper {
  top: 0;
  z-index: -1;
  height: 569px;
  background-image: url(../images/topbg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.hedsect .shap-wrapper > li {
  display: none;
}
.hedsect .menu-item > a {
  color: #fff;
}
header > nav {
  position: relative;
}
header > nav > ul {
  display: inline-block;
  padding: 30px 0;
  font-size: 14px;
  height: 40px;
}
@media (max-width: 992px) {
  header > nav > ul {
    visibility: hidden;
  }
}
@media (max-width: 323px) {
  header > nav > ul {
    padding: 0px;
  }
}
header > nav > ul > li {
  display: inline-block;
  padding: 0 15px;
  height: 40px;
}
header > nav > ul > li .loged {
  display: none;
}
header > nav > ul .is-loged {
  vertical-align: middle;
}
header > nav > ul .is-loged .login {
  display: none;
}
header > nav > ul .is-loged .loged {
  display: block;
  background: #3475F3;
  height: 40px;
  border-radius: 20px;
}
header > nav > ul .is-loged .loged .pr-img {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  overflow: hidden;
  top: 5px;
  position: relative;
  right: 10px;
  vertical-align: top;
}
header > nav > ul .is-loged .loged .pr-img > img {
  height: 100%;
  width: 100%;
}
header > nav > ul .is-loged .loged .pr-name {
  color: #fff;
  top: 7px;
  position: relative;
  padding: 0 20px;
  display: inline-block;
}
header .logo {
  display: inline-block;
  position: absolute;
  left: 30px;
  width: 176px;
  top: 23px;
}
header .logo > a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
header .logo > a > img {
  width: 100%;
  height: 100%;
}
/* footer css of fframework */
footer .wrapper {
  border-top: solid 1px #f0f0f0;
  margin-top: 70px;
}
footer .wrapper > ul > li {
  width: 65%;
  margin: auto;
  left: 0;
  right: 0;
}
@media (max-width: 600px) {
  footer .wrapper > ul > li {
    width: 90%;
  }
}
@media (max-width: 400px) {
  footer .wrapper > ul > li {
    width: 100%;
  }
}
footer .wrapper > ul > li:first-child {
  text-align: left;
  color: #909cad;
  direction: ltr;
}
footer .wrapper > ul > li:nth-child(2) > img {
  width: 240px;
}
footer .wrapper > ul > li:nth-child(3) {
  text-align: center;
}
footer .wrapper > ul > li:nth-child(3) > a {
  display: inline-block;
  margin: 0 5px;
  width: 30px;
}
footer .wrapper > ul > li:nth-child(3) > a > img {
  width: 100%;
}
footer .wrapper > ul > li:nth-child(4) {
  direction: ltr;
  text-align: center;
  color: #909cad;
  font-weight: 600;
}
footer .wrapper > ul > li:nth-child(4) > span {
  font-size: 8px;
  font-weight: 500;
  margin-left: 4px;
}
/* canvas css of fframework */
.canvas-menu {
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 40px;
  /* on activation */
  /* menu appearance*/
}
@media (min-width: 993px) {
  .canvas-menu {
    display: none;
  }
}
.canvas-menu #toggle {
  display: block;
  width: 28px;
  height: 30px;
  margin: 0;
  top: 0;
  position: relative;
  z-index: 1000;
}
.canvas-menu #toggle span:after,
.canvas-menu #toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
}
.canvas-menu #toggle span:after {
  top: 9px;
}
.canvas-menu #toggle span {
  position: relative;
  display: block;
}
.canvas-menu #toggle span,
.canvas-menu #toggle span:after,
.canvas-menu #toggle span:before {
  width: 100%;
  height: 5px;
  background-color: #1e88e5;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px;
}
.canvas-menu #toggle.on span {
  background-color: transparent;
}
.canvas-menu #toggle.on span:before {
  transform: rotate(45deg) translate(5px, 5px);
  background-color: #fff;
}
.canvas-menu #toggle.on span:after {
  transform: rotate(-45deg) translate(7px, -8px);
  background-color: #fff ;
}
.canvas-menu #toggle.on + #menu {
  opacity: 1;
  visibility: visible;
}
.canvas-menu #menu {
  position: fixed;
  width: 200px;
  padding: 50px 10px 10px;
  margin: auto;
  text-align: right;
  border-radius: 0;
  background: rgba(58, 65, 113, 0.7);
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s;
  z-index: 0;
  right: 0;
  top: 0;
  font-size: 13px;
  font-weight: 300;
  bottom: 0;
  z-index: 1;
}
.canvas-menu ul,
.canvas-menu li,
.canvas-menu li a {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}
.canvas-menu li a {
  padding: 5px;
  color: #fff ;
  text-decoration: none;
  transition: all .2s;
}
/* shap css of fframework */
.shap-wrapper {
  text-align: left;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.shap-wrapper > li {
  display: block;
  position: relative;
  height: 36px;
}
.shap-wrapper .col {
  height: 36px;
  overflow: hidden;
  display: inline-block;
  position: relative;
  border-radius: 100px;
}
.shap-wrapper .banner-title {
  width: 37%;
}
@media (max-width: 992px) {
  .shap-wrapper .banner-title {
    width: 27%;
  }
}
@media (max-width: 800px) {
  .shap-wrapper .banner-title {
    width: 20%;
  }
}
@media (max-width: 600px) {
  .shap-wrapper .banner-title {
    width: 0;
  }
}
.shap-wrapper .banner-title:before {
  content: "";
  height: 7px;
  width: 88%;
  position: absolute;
  background: #f2f4fa;
  left: -29%;
  top: 27px;
  border-radius: 100px;
  z-index: -1;
}
.shap-wrapper .banner-title > h1,
.shap-wrapper .banner-title > h2 {
  text-align: right;
  line-height: 31px;
  color: #4a5a6f;
  font-size: 16px;
  position: relative;
}
@media (max-width: 992px) {
  .shap-wrapper .banner-title > h1,
  .shap-wrapper .banner-title > h2 {
    font-size: 11px;
  }
}
@media (max-width: 800px) {
  .shap-wrapper .banner-title > h1,
  .shap-wrapper .banner-title > h2 {
    font-size: 0;
  }
}
.shap-wrapper .banner-title > h1:before,
.shap-wrapper .banner-title > h1:after {
  content: "";
  height: 7px;
  width: 70%;
  position: absolute;
}
.shap-wrapper .banner-title > h1:before {
  background: #f2f4fa;
  left: 48%;
  top: 29px;
  border-radius: 100px;
  z-index: -1;
}
.shap-wrapper .banner-title > h1:after {
  background-image: linear-gradient(-90deg, #5d47f6 0%, #1e88e5 100%);
  left: -63%;
  top: 15px;
  border-radius: 100px;
  z-index: -1;
}
.shap-wrapper .shap {
  display: inline-block;
  height: 36px;
  border-radius: 100px;
  position: absolute;
}
.shap-wrapper .shap1 {
  background-color: #f2f4fa;
}
.shap-wrapper .shap2 {
  background-image: linear-gradient(90deg, #f5515f 0%, #1e88e5 100%);
}
.shap-wrapper .shap3 {
  background-image: linear-gradient(90deg, #1e88e5 47%, #51f5b6 97%);
}
.shap-wrapper .shap4 {
  background-image: linear-gradient(-201deg, #00aeef 0%, #841ef9 100%);
}
.shap-wrapper .shap5 {
  background-image: linear-gradient(-217deg, #1e88e5 20%, #841ef9 100%);
}
.shap-wrapper .shap6 {
  background-image: linear-gradient(90deg, #1e88e5 0%, #f5515f 100%);
}
.shap-wrapper .shap7 {
  background-image: linear-gradient(-204deg, #00aeef 0%, #1e88e5 100%);
}
.shap-wrapper .shap8 {
  background-image: linear-gradient(90deg, #1e88e5 0%, #51f5b6 97%);
}
.shap-wrapper .shap9 {
  background-image: linear-gradient(90deg, #51f5b6 0%, #1e88e5 97%);
}
.shap-wrapper .shap10 {
  background-image: linear-gradient(90deg, #51d2f5 0%, #0c6dc3 100%);
}
.shap-wrapper .shap11 {
  background-image: linear-gradient(90deg, #1e88e5 0%, #f5515f 100%);
}
/* list-box css of fframework */
.banner .listbox-wrapper {
  padding: 0 30px;
}
@media (max-width: 500px) {
  .banner .listbox-wrapper {
    padding: 0 15px;
  }
}
@media (max-width: 500px) {
  .banner .listbox-wrapper {
    padding: 0 0px;
  }
}
.banner .cours-listbox {
  position: relative;
  width: 35%;
  background: #ffffff;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05), 0 16px 24px 0 rgba(0, 0, 0, 0.06);
  border-radius: 20px;
}
@media (max-width: 1000px) {
  .banner .cours-listbox {
    width: 40%;
  }
}
@media (max-width: 992px) {
  .banner .cours-listbox {
    width: 50%;
  }
}
@media (max-width: 800px) {
  .banner .cours-listbox {
    width: 60%;
  }
}
@media (max-width: 600px) {
  .banner .cours-listbox {
    width: 100%;
    background: #ffffffe6;
    background: rgba(255, 255, 255, 0.90196078);
  }
}
@media (max-width: 500px) {
  .banner .cours-listbox {
    border-radius: 0px;
  }
}
.banner .cours-listbox .list-item {
  position: relative;
  border-bottom: solid 1px #f0f0f0;
}
.banner .cours-listbox .list-item > a {
  display: inline-block;
  height: 100%;
  width: 100%;
}
.banner .cours-listbox .list-item > a .thumbnail-cours-img {
  height: 100%;
  width: 85px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
}
.banner .cours-listbox .list-item > a .thumbnail-cours-img > img {
  width: 80%;
  height: 65%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.banner .cours-listbox .list-item > a .timeline {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #3475f3;
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 77px;
}
.banner .cours-listbox .list-item > a .timeline:before,
.banner .cours-listbox .list-item > a .timeline:after {
  content: "";
  width: 3px;
  background: #f0f0f0;
  height: 50px;
  position: absolute;
  border-radius: 3px;
  right: 3px;
}
.banner .cours-listbox .list-item > a .timeline:before {
  top: -53px;
}
.banner .cours-listbox .list-item > a .timeline:after {
  top: 12px;
}
.banner .cours-listbox .list-item > a .wrapper {
  display: block;
  vertical-align: middle;
  padding-right: 90px;
  padding-top: 10px;
}
.banner .cours-listbox .list-item > a .wrapper .cours-title {
  font-size: 16px;
  color: #e03237;
  line-height: 27px;
}
.banner .cours-listbox .list-item > a .wrapper .cours-date {
  font-size: 12px;
  color: #4a5a6f;
  line-height: 27px;
}
.banner .cours-listbox .list-item > a .wrapper .teacher {
  font-size: 11px;
  color: #909cad;
  line-height: 27px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.banner .cours-listbox .list-item > a .btn {
  position: relative;
  left: 10px;
  bottom: 6px;
  display: block;
  float: left;
}
.banner .cours-listbox .list-item > a .btn > i {
  top: 1px;
  position: relative;
}
.banner .cours-listbox .more {
  line-height: 40px;
  text-align: center;
}
.banner .cours-listbox .more > a {
  color: #4a5a6f;
  font-family: 14px;
}
.banner .cours-listbox .more > a > i {
  vertical-align: middle;
  font-size: 10px;
  margin-right: 2px;
}
/* btn css of fframework */
.btn {
  border-radius: 100px;
  font-size: 10px;
  padding: 3px 10px;
}
.btn > i {
  vertical-align: middle;
  font-size: 10px;
}
.btn-primery {
  background: #3475f3;
  color: #ffffff;
}
/* about-us css of fframework */
.about-us {
  /*background-image: url(../images/bg2.png);
	background-repeat: no-repeat;
	background-size: cover;*/
  min-height: 500px;
  padding-top: 100px;
}
@media (max-width: 800px) {
  .about-us {
    padding-top: 20px;
  }
}
.about-us .section-title {
  text-align: center;
}
.about-us .video-wrapper {
  max-width: 1170px;
  right: 0;
  left: 0;
  padding: 0 25px;
  margin: auto;
}
@media (max-width: 500px) {
  .about-us .video-wrapper {
    padding: 0px;
  }
}
.about-us .video-wrapper > video {
  display: block;
  position: relative;
  z-index: 1;
  /* width: 100%; */
  margin: auto;
  left: 0;
  right: 0;
  height: 443px;
  border-radius: 10px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05), 0 16px 24px 0 rgba(0, 0, 0, 0.06);
  background: rgba(0, 0, 0, 0.61);
}
@media (max-width: 500px) {
  .about-us .video-wrapper > video {
    border-radius: 0px;
  }
}
/* news css of fframework */
.news-section {
  background-image: url(../images/bg3.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
  padding-top: 100px;
}
@media (max-width: 800px) {
  .news-section {
    padding-top: 20px;
  }
}
.news-section .container > header .section-title {
  display: inline-block;
  vertical-align: middle;
}
.news-section .container > header > a {
  display: inline-block;
  float: left;
  line-height: 80px;
  font-size: 14px;
  color: #909cad;
}
.news-section .container > header > a > i {
  vertical-align: middle;
  font-size: 10px;
}
.news-section .container .news-items {
  text-align: center;
}
.news-section .container .news-items .item {
  width: 43%;
  padding: 30px 3%;
  display: inline-block;
  vertical-align: top;
}
@media (max-width: 500px) {
  .news-section .container .news-items .item {
    width: 47%;
    padding: 30px 1%;
  }
}
@media (max-width: 400px) {
  .news-section .container .news-items .item {
    width: 100%;
  }
}
.news-section .container .news-items .item > a {
  display: inline-block;
  width: 100%;
  background: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05), 0 16px 24px 0 rgba(0, 0, 0, 0.06);
}
.news-section .container .news-items .item > a .img-news {
  height: 163px;
  overflow: hidden;
}
.news-section .container .news-items .item > a .img-news > img {
  height: 100%;
  width: 100%;
}
.news-section .container .news-items .item > a .content {
  padding: 2px 15px 15px;
  position: relative;
  height: 163px;
}
.news-section .container .news-items .item > a .content > h1 {
  color: #3475f3;
  line-height: 40px;
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.news-section .container .news-items .item > a .content > p {
  height: 71px;
  overflow: hidden;
  color: #909cad;
}
.news-section .container .news-items .item > a .content .date {
  color: #cad0d9;
  font-size: 10px;
}
.news-section .container .news-items .item > a .content .btn {
  border-radius: 5px;
  position: absolute;
  left: 15px;
  bottom: 10px;
}
/* contact-us css of fframework */
.contact-us {
  background-image: url(../images/bg4.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
  padding-top: 100px;
}
@media (max-width: 800px) {
  .contact-us {
    padding-top: 20px;
  }
}
@media (max-width: 700px) {
  .contact-us {
    min-height: 400px;
  }
}
@media (max-width: 500px) {
  .contact-us {
    min-height: 350px;
  }
}
@media (max-width: 400px) {
  .contact-us {
    min-height: 263px;
  }
}
@media (max-width: 400px) {
  .contact-us {
    min-height: 214px;
  }
}
.contact-us .img-wrapper {
  text-align: center;
}
@media (max-width: 600px) {
  .contact-us .img-wrapper > img {
    width: 183px;
  }
}
@media (max-width: 350px) {
  .contact-us .img-wrapper > img {
    width: 134px;
  }
}
.contact-us .text-wrapper {
  color: #4a5a6f;
  text-align: center;
  line-height: 45px;
}
.contact-us .text-wrapper > p {
  display: block;
  font-size: 20px;
}
@media (max-width: 600px) {
  .contact-us .text-wrapper > p {
    font-size: 13px;
  }
}
@media (max-width: 400px) {
  .contact-us .text-wrapper > p {
    display: none;
  }
}
.contact-us .text-wrapper .btn {
  padding: 10px 25px;
  font-size: 14px;
  top: 25px;
  position: relative;
}
/* content-section css of fframework */
.content-section .content-box {
  border-radius: 20px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.07), 0 16px 24px 0 rgba(0, 0, 0, 0.06);
}
/* course-detail css of fframework */
.course-title {
  color: #fff;
  padding: 0px 10px 45px 0;
}
.course-title > span {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #32B67A;
  display: inline-block;
  vertical-align: middle;
  margin: 0px 10px;
}
.course-title > h1 {
  display: inline-block;
  vertical-align: middle;
}
.course-detail {
  padding-bottom: 80px;
  position: relative;
}
.course-detail .cours-slide {
  overflow: hidden;
  box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.07), 0 16px 24px 0 rgba(0, 0, 0, 0.06);
  border-radius: 20px 20px 0 0;
}
.course-detail .cours-slide > img {
  height: 100%;
  vertical-align: top;
}
@media (max-width: 991px) {
  .course-detail .cours-slide .img-lg {
    display: none;
  }
}
.course-detail .cours-slide .img-md {
  display: none;
}
@media (max-width: 991px) {
  .course-detail .cours-slide .img-md {
    display: block;
  }
}
@media (max-width: 360px) {
  .course-detail .cours-slide .img-md {
    display: none;
  }
}
.course-detail .cours-slide .img-sm {
  display: none;
}
@media (max-width: 360px) {
  .course-detail .cours-slide .img-sm {
    display: block;
  }
}
.course-detail .course-tools {
  position: relative;
  margin-top: -3%;
}
@media (max-width: 700px) {
  .course-detail .course-tools {
    position: absolute;
    top: 0;
    margin-top: 50px;
    width: 100%;
  }
}
.course-detail .course-tools > li {
  display: inline-block;
  padding: 0 10px;
}
@media (max-width: 700px) {
  .course-detail .course-tools > li {
    width: 40%;
    padding-bottom: 15px;
    display: block;
  }
}
@media (max-width: 600px) {
  .course-detail .course-tools > li {
    width: 60%;
  }
}
@media (max-width: 450px) {
  .course-detail .course-tools > li {
    width: 100%;
    padding-right: 0;
  }
}
.course-detail .course-tools > li .btn {
  background: #FFFFFF;
  box-shadow: 0 12px 34px 0 rgba(0, 0, 0, 0.14);
  padding: 10px 20px 10px 30px;
}
@media (max-width: 700px) {
  .course-detail .course-tools > li .btn {
    display: block;
    padding: 7px 18px;
  }
}
.course-detail .course-tools > li .btn > div {
  display: inline-block;
  vertical-align: middle;
  font-size: 40px;
}
@media (max-width: 700px) {
  .course-detail .course-tools > li .btn > div {
    font-size: 30px;
  }
}
.course-detail .course-tools > li .btn-icon {
  margin-left: 10px;
}
.course-detail .course-tools > li .btn-icon > span {
  top: 5px;
  position: relative;
}
.course-detail .course-tools > li .btn-icon .icon-calendar {
  top: 0;
}
.course-detail .course-tools > li .btn-text > h3 {
  font-size: 17px;
  color: #1A2224;
  line-height: 30px;
}
@media (max-width: 700px) {
  .course-detail .course-tools > li .btn-text > h3 {
    line-height: 14px;
  }
}
.course-detail .course-tools > li .btn-text > span {
  font-size: 12px;
  color: rgba(158, 158, 158, 0.73);
}
.course-detail .course-tools .dm-past {
  display: none;
}
@media (max-width: 700px) {
  .course-detail .course-tools .dm-past {
    display: block;
  }
}
.course-detail .course-tools .rate-course {
  float: left;
}
@media (max-width: 700px) {
  .course-detail .course-tools .rate-course {
    float: none;
  }
}
.course-detail .course-tools .rate-course .btn {
  background: #32B67A;
  padding: 15px 35px;
  text-align: center;
}
@media (max-width: 700px) {
  .course-detail .course-tools .rate-course .btn {
    padding: 5px 0;
  }
}
.course-detail .course-tools .rate-course .btn .btn-text > h3 {
  color: #fff;
  font-size: 26px;
  padding-bottom: 5px;
  font-family: Xenois;
}
@media (max-width: 700px) {
  .course-detail .course-tools .rate-course .btn .btn-text > h3 {
    line-height: 25px;
  }
}
.course-detail .course-tools .rate-course .btn .btn-text > span {
  color: #fff;
}
.course-detail .des-1 {
  padding: 45px 47px 20px 20px;
}
@media (max-width: 700px) {
  .course-detail .des-1 {
    padding: 45px 20px 20px 20px;
  }
}
.course-detail .des-1 > li {
  display: inline-block;
  vertical-align: top;
}
.course-detail .des-1 > li:first-child {
  width: 70%;
}
@media (max-width: 700px) {
  .course-detail .des-1 > li:first-child {
    width: 100%;
  }
}
.course-detail .des-1 > li:nth-child(2) {
  width: 29%;
}
@media (max-width: 700px) {
  .course-detail .des-1 > li:nth-child(2) {
    display: none;
  }
}
.course-detail .des-1 > li .content {
  border-left: 1px solid #ebe5e5;
  padding-left: 10px;
  min-height: 100px;
  overflow: hidden;
  text-align: justify;
}
@media (max-width: 700px) {
  .course-detail .des-1 > li .content {
    border-left: none;
  }
}
.course-detail .des-1 > li .des-wrapper {
  padding: 0 20px;
  text-align: center;
}
.course-detail .des-1 > li .des-wrapper .des-img {
  font-size: 60px;
  text-align: center;
  padding-bottom: 9px;
}
.course-detail .des-1 > li .des-wrapper .btn {
  background: #3475F3;
  border-radius: 30px;
  color: #fff;
  padding: 10px;
  font-size: 14px;
  display: block;
}
.course-detail .des-1 > li .des-wrapper .btn .lg-t {
  display: block;
}
@media (max-width: 991px) {
  .course-detail .des-1 > li .des-wrapper .btn .lg-t {
    display: none;
  }
}
.course-detail .des-1 > li .des-wrapper .btn .sm-t {
  display: none;
}
@media (max-width: 991px) {
  .course-detail .des-1 > li .des-wrapper .btn .sm-t {
    display: block;
  }
}
/* comment-section css of fframework */
.comment-wrapper {
  width: 80%;
  margin: 20px auto;
}
@media (max-width: 766px) {
  .comment-wrapper {
    width: 100%;
  }
}
.comment-wrapper .profile > li {
  display: inline-block;
  vertical-align: top;
}
@media (max-width: 650px) {
  .comment-wrapper .profile .right {
    width: 10%;
    min-width: 75px;
  }
}
@media (max-width: 470px) {
  .comment-wrapper .profile .right {
    position: absolute;
    min-width: 50px;
  }
}
.comment-wrapper .profile .right .profile-img {
  width: 127px;
  height: 127px;
}
@media (max-width: 1199px) {
  .comment-wrapper .profile .right .profile-img {
    width: 120px;
    height: 120px;
  }
}
@media (max-width: 650px) {
  .comment-wrapper .profile .right .profile-img {
    width: 75px;
    height: 75px;
  }
}
@media (max-width: 470px) {
  .comment-wrapper .profile .right .profile-img {
    width: 50px;
    height: 50px;
    top: 20px;
  }
}
.comment-wrapper .profile .right > span {
  display: block;
}
.comment-wrapper .profile .right .comment-img {
  width: 85px;
  height: 85px;
}
@media (max-width: 650px) {
  .comment-wrapper .profile .right .comment-img {
    width: 75px;
    height: 75px;
  }
}
@media (max-width: 470px) {
  .comment-wrapper .profile .right .comment-img {
    width: 50px;
    height: 50px;
  }
}
.comment-wrapper .profile .left {
  width: 79%;
}
@media (max-width: 766px) {
  .comment-wrapper .profile .left {
    width: 80%;
  }
}
@media (max-width: 470px) {
  .comment-wrapper .profile .left {
    width: 100%;
  }
}
.comment-wrapper .profile .form-wrapper .wrapper {
  position: relative;
}
.comment-wrapper .profile .form-wrapper .wrapper > textarea {
  width: 80%;
  height: 134px;
  border: 1px solid  #f7f4f4;
  background: #FFFFFF;
  box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.07), 0 16px 24px 0 rgba(0, 0, 0, 0.06);
  border-radius: 10px;
}
.comment-wrapper .profile .form-wrapper .wrapper > button {
  background: #3475F3;
  box-shadow: 0 12px 13px 0 rgba(52, 117, 243, 0.2);
  border-radius: 100px;
  border: 1px solid #3475F3;
  color: #ffff;
  font-size: 12px;
  padding: 3px 7px 6px 7px;
  left: 22%;
  top: 71%;
  position: absolute;
}
.comment-wrapper .profile .wrapper {
  padding: 20px 50px 0 0;
}
@media (max-width: 1199px) {
  .comment-wrapper .profile .wrapper {
    padding: 20px 60px 0 0;
  }
}
.comment-wrapper .profile .wrapper .comment-box {
  border: 1px solid #f7f4f4;
  background: #FFFFFF;
  box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.07), 0 16px 24px 0 rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  padding: 10px 0;
  text-align: justify;
  position: relative;
}
.comment-wrapper .profile .wrapper .comment-box::before {
  content: "";
  height: 60px;
  width: 50px;
  background-image: url(../images/36.png);
  background-repeat: no-repeat;
  background-size: cover;
  right: -50px;
  position: absolute;
  top: 74px;
}
.comment-wrapper .profile .wrapper .comment-box > p {
  padding: 20px;
  font-size: 11px;
}
.comment-wrapper .profile .wrapper .btn {
  background: #3C485E;
  border-radius: 100px;
  font-size: 9px;
  color: #FFFFFF;
  position: relative;
  right: 4%;
  padding: 0px 6px;
  width: 75px;
  display: inline-block;
  text-align: center;
}
.comment-wrapper .profile .wrapper .like-wrapper {
  position: relative;
  width: 135px;
  display: inline-block;
  float: left;
  left: 0;
  vertical-align: middle;
}
.comment-wrapper .profile .wrapper .like-wrapper .btn {
  font-size: 10px;
  color: #FFFFFF;
  border-radius: 100px;
  text-align: center;
  right: 0;
  width: 35px;
}
.comment-wrapper .profile .wrapper .like-wrapper .like {
  background: #40D059;
}
.comment-wrapper .profile .wrapper .like-wrapper .dis-like {
  background: #E54B4B;
}
.comment-wrapper .lg-name {
  display: block;
}
@media (max-width: 991px) {
  .comment-wrapper .lg-name {
    display: none !important;
  }
}
.comment-wrapper .sm-name {
  display: none !important;
}
@media (max-width: 991px) {
  .comment-wrapper .sm-name {
    display: block !important;
    color: #3b3b3b;
    text-align: right;
    padding-right: 20px;
  }
}
.comment-wrapper .reply {
  position: relative;
}
.comment-wrapper .reply .right {
  position: absolute;
  left: 4px;
}
@media (max-width: 991px) {
  .comment-wrapper .reply .right {
    min-width: 40px;
    top: 4px;
  }
}
@media (max-width: 584px) {
  .comment-wrapper .reply .right {
    display: none;
  }
}
@media (max-width: 991px) {
  .comment-wrapper .reply .right .profile-img {
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 584px) {
  .comment-wrapper .reply .left {
    width: 100%;
  }
}
.comment-wrapper .reply .left .wrapper {
  padding-right: 20px;
}
@media (max-width: 584px) {
  .comment-wrapper .reply .left .wrapper {
    padding-right: 0;
  }
}
.comment-wrapper .reply .left .wrapper .comment-box {
  background: #3475F3;
  border: 1px solid #3475F3;
  box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.07), 0 16px 24px 0 rgba(0, 0, 0, 0.06);
  right: 0%;
  color: #fff;
  position: relative;
  padding: 0 0 0 0;
  font-size: 10px;
}
.comment-wrapper .reply .left .wrapper .comment-box::before {
  background-image: url(../images/37.png);
  left: -36px;
  top: 54px;
  right: auto;
  width: 35px;
  height: 71px;
}
@media (max-width: 584px) {
  .comment-wrapper .reply .left .wrapper .comment-box::before {
    display: none;
  }
}
.comment-wrapper .reply .left .wrapper .comment-box > p {
  padding-top: 0;
}
.comment-wrapper .reply .left .wrapper .comment-box .sm-name,
.comment-wrapper .reply .left .wrapper .comment-box .lg-name {
  color: #fff;
}
.comment-wrapper .reply .left .wrapper .comment-box .rig {
  border-top: 1px solid #186d96b3;
  margin-top: 20px;
  padding-bottom: 10px;
}
.comment-wrapper .reply .left .wrapper .comment-box .rig .right {
  width: 15%;
  right: 0;
  position: relative;
  min-width: 61px;
  padding-right: 5px;
}
@media (max-width: 991px) {
  .comment-wrapper .reply .left .wrapper .comment-box .rig .right {
    min-width: 40px;
    top: 4px;
    width: 10%;
  }
}
@media (max-width: 584px) {
  .comment-wrapper .reply .left .wrapper .comment-box .rig .right {
    display: none;
  }
}
.comment-wrapper .reply .left .wrapper .comment-box .rig .right .reply-img {
  width: 61px;
  height: 61px;
}
@media (max-width: 991px) {
  .comment-wrapper .reply .left .wrapper .comment-box .rig .right .reply-img {
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 584px) {
  .comment-wrapper .reply .left .wrapper .comment-box .rig .right .reply-img {
    display: none;
  }
}
.comment-wrapper .reply .left .wrapper .comment-box .rig .left {
  width: 83%;
}
@media (max-width: 584px) {
  .comment-wrapper .reply .left .wrapper .comment-box .rig .left {
    width: 100%;
  }
}
.comment-wrapper .reply .left .wrapper .comment-box .rig .left .wrapper {
  padding-right: 0;
}
.comment-wrapper .reply .left .wrapper .comment-box .btn {
  background: #fff;
  color: #3475F3;
  right: 15px;
  top: 0;
  vertical-align: middle;
}
.comment-wrapper .reply .left .wrapper .comment-box .like-wrapper .like {
  background: #40D059;
  color: #fff;
}
.comment-wrapper .reply .left .wrapper .comment-box .like-wrapper .dis-like {
  background: #E54B4B;
  color: #fff;
}
.comment-wrapper .reply .left .comment-reply-box {
  border: 0 !important;
  box-shadow: none !important;
  width: 97% !important;
  font-size: 8px !important;
}
.comment-wrapper .reply .left .comment-reply-box::before {
  display: none;
}
.comment-wrapper .reply .left .comment-reply-box > p {
  font-size: 9px;
  padding: 14px 17px 15px 26px;
}
.comment-wrapper .reply .left .comment-reply-box > span {
  font-size: 10px;
}
.comment-wrapper .reply .right {
  min-width: 86px;
}
/* text-box css of fframework */
.text-box {
  background: #F7F7F7;
  border-radius: 30px;
  padding: 30px;
  margin: 10px 30px;
}
@media (max-width: 700px) {
  .text-box {
    margin: 10px 5px;
    padding: 30px 10px;
  }
}
.text-box > li {
  display: inline-block;
  vertical-align: top;
}
.text-box .content {
  text-align: justify;
}
.text-box .content > h3 {
  font-size: 14px;
  color: #3475F3;
  line-height: 50px;
}
.text-box .right {
  width: 70%;
}
@media (max-width: 800px) {
  .text-box .right {
    width: 100%;
  }
}
.text-box .left {
  width: 26%;
  margin-right: 3%;
}
@media (max-width: 800px) {
  .text-box .left {
    width: 100%;
  }
}
/* comment-section-guest css of fframework */
.comment-wrapper .guest .wrapper .comment-box {
  padding: 32px 0;
  text-align: center;
}
.comment-wrapper .guest .wrapper .comment-box > p {
  font-size: 20px;
  text-align: center;
}
@media (max-width: 360px) {
  .comment-wrapper .guest .wrapper .comment-box > p {
    font-size: 12px;
  }
}
.comment-wrapper .guest .wrapper .btn {
  background: #3475F3;
  box-shadow: 0 12px 13px 0;
  font-size: 17px;
  width: 170px;
  padding: 10px 30px;
  right: 0;
  left: 0;
  margin: auto;
}
.comment-wrapper .guest .wrapper .btn .icon-blueuser {
  vertical-align: middle;
  display: inline-block;
  padding-left: 5px;
}
.comment-wrapper .guest .wrapper .btn .icon-blueuser::before {
  color: #fff;
}
.comment-wrapper .guest .wrapper .btn > span {
  vertical-align: middle;
}
/* course-download css of fframework */
.title-download {
  font-size: 18px;
  color: #555A6B;
  line-height: 40px;
}
.course-download-wrapper {
  padding: 0 30px 20px;
}
@media (max-width: 500px) {
  .course-download-wrapper {
    padding: 15px;
  }
}
.course-download-wrapper .btn {
  background: #3475F3;
  box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.07), 0 16px 24px 0 rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  color: #fff;
  padding: 20px;
  margin: 10px 0;
  display: block;
}
.course-download-wrapper .btn .right-side,
.course-download-wrapper .btn .left-side {
  display: inline-block;
  vertical-align: middle;
}
.course-download-wrapper .btn .right-side {
  width: 80%;
}
.course-download-wrapper .btn .right-side > h3 {
  padding: 4px 0 9px;
}
.course-download-wrapper .btn .right-side > span {
  color: rgba(255, 255, 255, 0.61);
}
.course-download-wrapper .btn .left-side {
  width: 19%;
  text-align: left;
  height: 100%;
}
.course-download-wrapper .btn .left-side .icon-wrapper > i {
  font-size: 35px;
}
.course-download-wrapper .btn > span {
  color: #e1dedee6;
}
/* purchase css of fframework */
.purchase .purchase-wrapper {
  width: 400px;
  background: #3475F3;
  box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.07), 0 16px 24px 0 rgba(0, 0, 0, 0.06);
  border-radius: 50px;
  text-align: center;
  color: #fff;
  padding: 20px;
  margin: 20px auto;
}
.purchase .purchase-wrapper .title-purchase {
  font-size: 25px;
  line-height: 52px;
}
.purchase .purchase-wrapper .date-price-wrapper {
  padding: 10px 0;
}
.purchase .purchase-wrapper .date-price-wrapper .date {
  display: inline-block;
  text-align: right;
  padding: 0 20px;
  border-left: 1px solid #2D58AB;
}
.purchase .purchase-wrapper .date-price-wrapper .price {
  display: inline-block;
  vertical-align: top;
  text-align: right;
  padding: 0 20px;
}
.purchase .purchase-wrapper .date-price-wrapper h3 {
  font-size: 10px;
  color: #e1dedee6;
  padding: 10px 0;
}
.purchase .purchase-wrapper .date-price-wrapper span {
  display: block;
}
.purchase .purchase-wrapper .btn {
  background: #FFF;
  border-radius: 8px;
  font-size: 16px;
  margin: 20px 0;
  padding: 10px 20px;
  color: #3475F3;
}
/* registration css of fframework */
.registration .registration-wrapper {
  background: #FFFFFF;
  box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.07), 0 16px 24px 0 rgba(0, 0, 0, 0.06);
  border-radius: 20px;
  width: 400px;
  text-align: center;
  margin: 20px auto;
}
.registration .registration-wrapper .reg-list .item {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  color: #979797;
  font-size: 16px;
  width: 40%;
  padding: 20px 0;
  border-bottom: 2px solid #f2ececcc;
  transition-duration: 1s;
}
.registration .registration-wrapper .reg-tab {
  display: none;
}
.registration .registration-wrapper .reg-tab .reg-form {
  padding: 20px 40px;
}
.registration .registration-wrapper .reg-tab .reg-form > input {
  display: block;
  background: #F7F7F7;
  border-radius: 20px;
  border: none;
  padding: 20px;
  width: 90%;
  margin-bottom: 15px;
  font-size: 13px;
  color: #9F9F9F;
}
.registration .registration-wrapper .reg-tab .reg-form > button {
  background: #3475F3;
  border-radius: 20px;
  border: none;
  width: 100%;
  color: #fff;
  font-size: 18px;
  padding: 18px;
}
.registration .registration-wrapper .current {
  display: block;
}
.registration .registration-wrapper .reg-active {
  border-bottom: 2px solid #3475F3 !important;
  color: #3475F3 !important;
}
/* profile-edit css of fframework */
.profile-edit .pro-edit-wrapper {
  width: 550px;
  background: #FFFEF8;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05), 0 16px 24px 0 rgba(0, 0, 0, 0.06);
  border-radius: 20px;
  margin: 40px auto;
  position: relative;
}
.profile-edit .pro-edit-wrapper .pro-edit-wrapper {
  background: #FFFEF8;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05), 0 16px 24px 0 rgba(0, 0, 0, 0.06);
  border-radius: 20px;
}
.profile-edit .pro-edit-wrapper .profile {
  text-align: center;
}
.profile-edit .pro-edit-wrapper .profile .icon-img {
  background: #FFFEF8;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05), 0 16px 24px 0 rgba(0, 0, 0, 0.06);
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 100px;
  margin: 20px;
  z-index: 2;
}
.profile-edit .pro-edit-wrapper .profile .profile-img {
  width: 120px;
  height: 120px;
  border-radius: 100px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 22px 25px 0 rgba(0, 0, 0, 0.12);
  margin: 20px auto;
}
.profile-edit .pro-edit-wrapper .profile .profile-img > img {
  height: 100%;
}
.profile-edit .pro-edit-wrapper .pro-form {
  text-align: center;
}
.profile-edit .pro-edit-wrapper .pro-form > form > input {
  background: rgba(239, 232, 216, 0.58);
  border-radius: 100px;
  border: none;
  width: 40%;
  font-size: 13px;
  padding: 15px;
  margin-bottom: 20px;
}
.profile-edit .pro-edit-wrapper .pro-form > form > span {
  display: block;
  font-size: 10px;
  color: #0D0D0D;
  line-height: 43px;
}
.profile-edit .pro-edit-wrapper .pro-form > form .btn {
  background: #32B67A;
  color: #fff;
  padding: 10px 15px;
  border: none;
  font-size: 13px;
  margin: 20px 0;
}
/* profile css of fframework */
.profile .right {
  width: 20%;
  text-align: center;
  margin: 20px auto;
  min-width: 187px;
  position: relative;
}
@media (max-width: 1199px) {
  .profile .right {
    width: 15%;
    min-width: 120px;
  }
}
.profile .right .rate-course {
  background: #32B67A;
  box-shadow: 0 5px 14px 0 rgba(50, 182, 122, 0.33);
  border-radius: 100px;
  padding: 6px 13px;
  position: absolute;
  z-index: 2;
  text-align: center;
  color: #fff;
}
@media (max-width: 1199px) {
  .profile .right .rate-course {
    top: -14px;
    right: -6px;
    padding: 4px 11px;
  }
}
.profile .right .rate-course > h3 {
  font-size: 13px;
  font-family: Xenois;
}
@media (max-width: 1199px) {
  .profile .right .rate-course > h3 {
    font-size: 10px;
  }
}
.profile .right .rate-course .star {
  width: 34px;
  margin-top: 4px;
}
.profile .right .profile-img {
  width: 187px;
  height: 187px;
  border-radius: 100px;
  overflow: hidden;
  position: relative;
}
@media (max-width: 1199px) {
  .profile .right .profile-img {
    width: 120px;
    height: 120px;
  }
}
.profile .right .profile-img > img {
  height: 100%;
}
.profile .left {
  width: 75%;
}
@media (max-width: 713px) {
  .profile .left {
    width: 70%;
  }
}
@media (max-width: 559px) {
  .profile .left {
    width: 100%;
    margin-right: 0;
  }
}
.profile .left .content > span {
  font-size: 11px;
  color: #7D8189;
}
.page-profile .page-profile-wrapper {
  padding-bottom: 15px;
}
.page-profile .page-profile-wrapper .profile {
  text-align: right !important;
  border-bottom: 1px solid #CFCFCF;
  margin: 0px !important;
  height: 125px;
  position: relative;
}
.page-profile .page-profile-wrapper .profile .profile-img {
  top: 10%;
  right: 6%;
}
.page-profile .page-profile-wrapper .profile .name {
  position: absolute;
  top: 28%;
  right: 30%;
  font-size: 18px;
  line-height: 33px;
}
.page-profile .page-profile-wrapper .profile .name > span {
  display: block;
  font-size: 13px;
  color: #7B7B7B;
}
.page-profile .page-profile-wrapper .profile .edit-info {
  display: inline-block;
  position: absolute;
  top: 59%;
  left: 10%;
  color: #7B7B7B;
}
.page-profile .page-profile-wrapper .des-1 {
  width: 80%;
  padding: 10px 9% 0px 10px;
}
.page-profile .page-profile-wrapper .des-1 .des-course {
  margin-top: 9%;
}
.page-profile .page-profile-wrapper .des-1 .des-course > li {
  display: inline-block;
  vertical-align: top;
  width: 29%;
  color: #C5BEAA;
  font-size: 14px;
}
.page-profile .page-profile-wrapper .des-2 {
  padding: 15px 9% 15px 0;
}
.page-profile .page-profile-wrapper .des-2 .btn {
  background: #D1CAB9;
  width: 7%;
  color: #fff;
  text-align: center;
  display: inline-block;
}
.page-profile .page-profile-wrapper .des-2 .hr {
  border-bottom: 1px solid #CFCFCF;
  width: 72%;
  display: inline-block;
  vertical-align: middle;
  margin: 0 20px;
}
.page-profile .page-profile-wrapper .des-3 {
  padding: 10px 9% 10px 10px;
  width: 80%;
}
.page-profile .page-profile-wrapper .des-3 .des-course-2 {
  border-bottom: 1px solid #CFCFCF;
  padding-bottom: 15px;
}
.page-profile .page-profile-wrapper .des-3 .des-course-2 > li {
  display: inline-block;
  vertical-align: top;
  width: 29%;
  font-size: 11px;
}
.page-profile .page-profile-wrapper .des-3 .des-course-2 > li > span {
  display: block;
}
.page-profile .page-profile-wrapper .des-3 .des-course-2 > li .btn {
  color: #fff;
  background: #32B67A;
  width: 53%;
  text-align: center;
  font-size: 12px;
}
.page-profile .page-profile-wrapper .des-3 .des-course-2 > li .mark {
  background: #FACA0C;
  color: #191919;
}
/* news2 css of fframework */
.news-course-section .news2-box {
  border-radius: 20px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.07), 0 16px 24px 0 rgba(0, 0, 0, 0.06);
}
.news-course-section .news2-box .news-slide {
  overflow: hidden;
  box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.07), 0 16px 24px 0 rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  margin: 25px;
}
.news-course-section .news2-box .news-slide > img {
  width: 100%;
  vertical-align: top;
}
.content-news {
  padding: 15px 20px;
}
@media (max-width: 400px) {
  .content-news {
    padding: 0;
    text-align: justify;
  }
}
.content-news .title {
  color: #3475F3;
  font-size: 17px;
  padding: 10px 26px;
}
.content-news .text {
  color: #383838;
  font-size: 14px;
  padding: 0 26px;
}
.content-news > span {
  color: #CAD0D9;
  padding: 0 26px;
  font-size: 11px;
  line-height: 50px;
  display: inline-block;
}
.content-news .btn {
  background: #3475F3;
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  float: left;
  margin: 0 26px;
  border-radius: 5px;
}
.news2-section {
  background-image: none !important;
  min-height: 500px;
  padding-top: 50px;
}
/* news-detail css of fframework */
.news-detail-section .news2-box {
  margin-top: 60px;
}
.news-detail-section .news2-box .content-news .text {
  line-height: 36px;
  padding: 20px 30px;
  text-align: justify;
}
.news-detail-section .news2-box .content-news .social-media {
  padding: 0 30px;
}
.news-detail-section .news2-box .content-news .social-media .item {
  display: inline-block;
  vertical-align: top;
  padding-left: 5px;
}
/*modal css of fframework */
.modal-header {
  padding: 15px 32px 0;
  border-bottom: none;
}
.modal-header .close {
  background: transparent;
  border: none;
  position: absolute;
  left: 22px;
  top: 10px;
  font-size: 36px;
  color: #828282;
  cursor: pointer;
}
/* star */
.star {
  position: relative;
  width: 56px;
  height: 12px;
  margin-right: 0;
  margin-left: auto;
}
.star .star-silver,
.star .star-gold {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: right 0;
}
.star .star-silver {
  left: 0;
  background-image: url(../images/bg-star-silver.png);
}
.star .star-silversm {
  left: 0;
  background-image: url(../images/bg-star-silversm.png);
}
.star .star-gold {
  background-image: url(../images/bg-star-gold.png) !important;
}
.star .star-goldsm {
  background-image: url(../images/bg-star-goldsm.png) !important;
}
.star .star-gold-0 {
  left: auto;
}
.star .star-gold-1 {
  left: 72px;
}
.star .star-gold-2 {
  left: 65px;
}
.star .star-gold-3 {
  left: 55px;
}
.star .star-gold-4 {
  left: 47px;
}
.star .star-gold-5 {
  left: 39px;
}
.star .star-gold-6 {
  left: 30px;
}
.star .star-gold-7 {
  left: 23px;
}
.star .star-gold-8 {
  left: 15px;
}
.star .star-gold-9 {
  left: 6px;
}
.star .star-gold-10 {
  left: 0;
}
.star.star-comment {
  width: 145px;
  height: 19px;
}
.star.star-comment .star-silver {
  left: 0;
  background-image: url(../images/bg-star-comment-silver.png);
}
.star.star-comment .star-gold {
  background: none;
}
.star.star-v1 .star-gold {
  background-image: url(../images/bg-star-dark.png);
}
.star.star-v2 {
  width: 145px;
  height: 19px;
}
.star.star-v2 .star-silver {
  background-image: url(../images/bg-star-comment-silver.png);
}
.star-inline {
  display: inline-block;
}
