<section class="header-section">
  <app-header></app-header>
  <app-banner [isHome]="true">
    <div class="listbox-wrapper">
      <ul class="cours-listbox">

        <li class="list-item" *ngFor="let workshop of workshops">
          <a  [routerLink]="['/workshop', workshop.identity]">
            <div class="thumbnail-cours-img">
              <img src="{{workshop.imageSrc}}">
            </div>
            <div class="timeline"></div>
            <div class="wrapper">
              <h1 class="cours-title">{{workshop.title}}</h1>
              <div class="cours-date number-persian">{{workshop.dateTime}}</div>
              <div class="teacher number-persian">تدریس توسط {{workshop.userDetail}}</div>

            </div>
            <div class="btn btn-primery number-persian" *ngIf="!workshop.isRegistered">
              <ng-container *ngIf="workshop.cost==0">رایگان</ng-container>
              <ng-container *ngIf="workshop.cost!=0">{{workshop.cost}} تومان</ng-container>
            
              <i class="icon-ic_left"></i>
            </div>
          </a>
        </li>

        <li class="more sans-font" *ngIf="workshops.length!=0">
          <a [routerLink]="['/workshops']">
            دوره های بیشتر
            <i class="icon-ic_left"></i>
          </a>
        </li>
      </ul>
    </div>>

  </app-banner>
</section>
<section class="about-us">
  <ul class="shap-wrapper">
    <li>
      <div class="col" style="left: 85%;top: 0;width:40%;">
        <span class="shap shap1" style="left: 0;top: 0;width:100%;"></span>
      </div>
    </li>
    <li>
      <div class="col" style="left: 48%;top: 60%;width:31%;">
        <span class="shap shap1" style="left: 0;top: 0;width:100%;"></span>
        <span class="shap shap7" style="left: 38%;top: 0;width:61px;opacity:0.6;"></span>
      </div>
      <div class="col" style="left: 45%;top: 60%;width:5%;">
        <span class="shap shap1" style="left: 0;top: 0;width:100%;"></span>
      </div>
      <div class="col" style="left: 0;top: 60%;width:5%;">
        <span class="shap shap1" style="left: 0;top: 0;width:100%;"></span>
      </div>
      <div class="col" style="left: 0%;top: 60%;width:26%;">
        <span class="shap shap1" style="left: -10%;top: 0;width:100%;"></span>
      </div>
    </li>
    <li>
      <div class="col" style="left: 81%;top: 100%;width:40%;">
        <span class="shap shap1" style="left: 0;top: 0;width:100%;"></span>
      </div>
    </li>
    <li>
      <div class="col" style="left: 9%;top: 215%;width:43%;">
        <span class="shap shap1" style="left: 0;top: 0;width:100%;"></span>
      </div>
      <div class="col" style="width:37%;left:75%;top: 185%;">
        <span class="shap shap7" style="left: 0;top: 0;width:100%;"></span>
        <span class="shap shap10" style="left: 16%;top: 15px;width:100%;opacity:1;"></span>
      </div>
      <div class="col" style="left:-4%;top: 150%;width:36px;">
        <span class="shap shap4" style="left: 0;top: 0;width:100%;"></span>
      </div>
      <div class="col" style="width:8%;left:-5%;top: 150%;">
        <span class="shap shap11" style="left: 0;top: 0;width:100%;"></span>
      </div>
    </li>
    <li>
      <div class="col" style="left: -9%;top: 350%;width:40%;">
        <span class="shap shap1" style="left: 0;top: 0;width:100%;"></span>
      </div>
    </li>
    <li>
      <div class="col" style="left: 54%;top: 302%;width:7%;">
        <span class="shap shap4" style="left: 0;top: 0;width:100%;"></span>
        <span class="shap shap9" style="left: 35%;top: 15px;width:100%;opacity:0.7;"></span>
      </div>
      <div class="col" style="width:37%;left:-20%;top: 302%;">
        <span class="shap shap7" style="left: 0;top: 0;width:100%;"></span>
        <span class="shap shap10" style="left: -16%;top: 15px;width:100%;opacity:1;"></span>
      </div>
    </li>
    <li>
      <div class="col" style="left: -66%;top: 350%;width:40%;">
        <span class="shap shap1" style="left: 0;top: 0;width:100%;"></span>
      </div>
      <div class="col" style="left: -15%;top: 350%;width:7%;">
        <span class="shap shap1" style="left: 0;top: 0;width:100%;"></span>
      </div>
      <div class="col" style="left: 57%;top: 350%;width:40%;">
        <span class="shap shap1" style="left: 0;top: 0;width:100%;"></span>
      </div>
    </li>
    <li>
      <div class="col" style="width:37%;left:82%;top: 483%;">
        <span class="shap shap7" style="left: 0;top: 0;width:100%;"></span>
        <span class="shap shap10" style="left: 13%;top: -15px;width:100%;opacity:1;"></span>
      </div>
      <div class="col" style="left: 2%;top: 445%;width:7%;">
        <span class="shap shap4" style="left: 0;top: 0;width:100%;"></span>
        <span class="shap shap9" style="left: -35%;top: -15px;width:100%;opacity:0.7;"></span>
      </div>
    </li>
    <li>
      <div class="col" style="left: -46%;top: 520%;width:40%;">
        <span class="shap shap1" style="left: 0;top: 0;width:100%;"></span>
      </div>
      <div class="col" style="left: 62%;top: 520%;width:40%;">
        <span class="shap shap1" style="left: 0;top: 0;width:100%;"></span>
      </div>
    </li>
  </ul>
  <div class="">
    <h1 class="section-title">
      ما در کدمی چه کار می کنیم؟
    </h1>
    <div class="video-wrapper">
      <video controls poster="/assets/images/v11.png">
        <source src="/assets/intro.mp4" type="video/mp4">
      </video>
    </div>
  </div>
</section>
<section class="news-section">
  <div class="container">
    <header>
      <h1 class="section-title">
        آخرین خبرها
      </h1>
      <a class="clearfix" href="#">
        همه خبرها
        <i class="icon-ic_left"></i>
      </a>
    </header>
    <div class="news-items">

      <div class="item" *ngFor="let item of news">
        <a href="#">
          <div class="img-news">
            <img src="{{item.image}}">
          </div>
          <div class="content">
            <h1>
              {{item.title}}
            </h1>
            <p class="des">
              {{item.summary}}
            </p>
            <span class="date number-persian">
              {{item.date}}
            </span>
            <span class="btn btn-primery">
              ادامه خبر...
            </span>
          </div>
        </a>
      </div>

    </div>
  </div>
</section>
<section class="contact-us">
  <div class="container">
    <div class="img-wrapper">
      <img src="/assets/images/bro.png">
    </div>
    <div class="text-wrapper">
      <p>
        قابل توجه متخصصین و مدرسین برنامه نویسی...
      </p>
      <p>
        در پیشرفته ترین و بروزرین پایگاه آنلاین برنامه نویسی تدریس کنید...
      </p>
      <span class="btn btn-primery">
        ثبت نام متخصصین
        <i class="icon-ic_left"></i>
      </span>
    </div>
  </div>
</section>
<app-footer></app-footer>