<section class="header-section hedsect">
  <app-header></app-header>
  <app-banner></app-banner>

</section>
<section class="profile-edit page-profile">
  
  <div class="container">
    <div class="page-profile-wrapper pro-edit-wrapper ">
      <ul>
        <li class="profile">
          <a class="profile-img">
            <!-- <img src="assets/images/profile-img.jpg" alt=""> -->
            <img *ngIf="user.email" ngxGravatar [email]="user.email">

          </a>
          <div class="name">
            {{user.email}}
            <span class="number-persian">14 دوره</span>
          </div>
          <div class="edit-info">
            <span  (click)="open()" style="cursor: pointer;" >ویرایش اطلاعات</span>
            <div class="icon"></div>
          </div>
        </li>
        <li class="des-1">
          <ul class="des-course">
            <li style="width: 40%;">نام دوره</li>
            <li>تاریخ برگزاری</li>
            <li>وضعیت</li>
          </ul>
        </li>
        <li class="des-2">
          <div class="btn">در آینده</div>
          <div class="hr"></div>
        </li>
        <li class="des-3"  *ngFor="let workshop of workshops">
          <ul class="des-course-2">
            <li style="width: 40%;">{{workshop.title}}</li>
            <li>
              <span class="number-persian">{{workshop.date}}</span>
              <span class="number-persian">{{workshop.date}}</span>
            </li>
            <li>
              <a href="#" class="btn">{{workshop.isPaid== true}}پرداخت شده</a>
            </li>
          </ul>
        </li>
        
        
        
      </ul>
    </div>





  </div>
 
</section>
<app-footer></app-footer>

