<section class="header-section hedsect">
  <app-header></app-header>
  <app-banner></app-banner>
</section>

<section class="content-section">
  <div class="container">
    <div class="course-title">
      <span></span>
      <h1>{{workshop.title}}</h1>
    </div>
    <div class="content-box course-detail">
      <div class="cours-slide">
        <img class="img-lg" src="assets/images/n7.jpg" alt="">
        <img class="img-md" src="assets/images/n7.jpg" alt="">
        <img class="img-sm" src="assets/images/n7.jpg" alt="">
      </div>
      <ul class="course-tools">
        <li>
          <a class="btn">
            <div class="btn-icon">
              <span class="icon-play">
                <span class="path1"></span><span class="path2"></span>
              </span>
            </div>
            <div class="btn-text">
              <h3>پیش نمایش دوره</h3>
              <span class="number-persian">3:45 دقیقه</span>
            </div>
          </a>
        </li>
        <li class="dm-past">
          <a class="btn">
            <div class="btn-icon">
              <i class="icon-history"></i>
            </div>
            <div class="btn-text">
              <h3>دانلود نسخه های قبل</h3>
              <span class="number-persian"></span>
            </div>
          </a>
        </li>
        <li>
          <a class="btn">
            <div class="btn-icon">
              <span class="icon-calendar">
                <span class="path1"></span><span class="path2"></span><span class="path3"></span><span
                  class="path4"></span><span class="path5"></span><span class="path6"></span><span
                  class="path7"></span><span class="path8"></span><span class="path9"></span><span
                  class="path10"></span><span class="path11"></span><span class="path12"></span><span
                  class="path13"></span><span class="path14"></span><span class="path15"></span><span
                  class="path16"></span><span class="path17"></span><span class="path18"></span><span
                  class="path19"></span><span class="path20"></span><span class="path21"></span><span
                  class="path22"></span><span class="path23"></span><span class="path24"></span><span
                  class="path25"></span><span class="path26"></span><span class="path27"></span><span
                  class="path28"></span><span class="path29"></span><span class="path30"></span><span
                  class="path31"></span><span class="path32"></span><span class="path33"></span>
              </span>
            </div>
            <div class="btn-text">
              <h3 class="number-persian">{{workshop.date}}</h3>
              <span class="number-persian">ساعت {{workshop.time}}</span>
              <span class="number-persian">دقیقه {{workshop.duration}}</span>

            </div>
          </a>
        </li>
        <li class="rate-course">
          <a class="btn">
            <div class="btn-text">
              <h3>{{workshop.rate}}</h3>
              <div class="star">
                <div class="star-silver"></div>
                <div class="star-gold star-gold-8"></div>
              </div>
            </div>
          </a>
        </li>
      </ul>
      <ul class="des-1">
        <li>
          <div class="content">
            <p class="des">{{workshop.description}}</p>
          </div>
        </li>
        <li class="lg-dm-past">
          <div class="des-wrapper">
            <div class="des-img">
              <i class="icon-history"></i>
            </div>
            <a class="btn" *ngIf="workshop.isRegistered">
              <span class="lg-t"> {{workshop.downloadPercent}}دانلود</span>
            </a>
            <a class="btn" *ngIf="!workshop.isRegistered" (click)="onRegister()">
              <span class="lg-t" *ngIf="workshop.cost!=0"> ثبت نام قیمت {{workshop && workshop.cost}} تومان</span>
              <span class="lg-t" *ngIf="workshop.cost==0"> ثبت نام رایگان</span>

              <span class="sm-t">ثبت نام</span>
            </a>
          </div>
        </li>
      </ul>
      <ul class="text-box">
        <li class="right">
          <div class="content">
            <h3>آنچه در این دوره خواهید آموخت</h3>
            <div class="text">{{workshop.goal}}</div>
          </div>
        </li>
        <li class="left">
          <div class="content">
            <h3>پیش نیاز های دوره</h3>
            <div class="text">{{workshop.preRequirements}}</div>
          </div>
        </li>
      </ul>
      <ul class="text-box profile">
        <li class="right">
          <a class="profile-img">
            <img src="assets/images/profile-img.jpg" alt="">
          </a>
        </li>
        <li class="left">
          <div class="content">
            <h3>{{workshop.teacherName}}</h3>
            <div class="text">{{workshop.teacherDescription}}</div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
<section class="">

</section>
<section class="comment-section">
  <div class="container">
    <div class="comment-wrapper">
      <ul class="profile">
        <li class="right">
          <a class="profile-img">
            <!-- <img src="assets/images/profile-img2.jpg" alt=""> -->
            <img *ngIf="user && user.email" ngxGravatar [email]="user.email">

          </a>
          <span class="lg-name">نظر شما</span>
        </li>
        <li class="left guest">
          <div class="wrapper">
            <div class="comment-box clearfix" *ngIf="!isLogin">

              <span class="sm-name">نظر شما</span>
              <p>
                برای ارسال دیدگاه باید ثبت نام کنید.
              </p>
              <a href="#" class="btn">
                <div class=" icon-blueuser"></div>
                <span>ثبت نام در کدمی</span>
                <div class=""></div>
              </a>


            </div>
            <div id="reply">
              <div *ngIf="replyTo">
                {{replyTo.text}}
                <a (click)="replyTo=null">X</a>
              </div>
            </div>
            <form [formGroup]="commentForm" (ngSubmit)="onFormSubmit()" *ngIf="isLogin">
              <textarea formControlName="text" placeholder="متن پیام"></textarea>
              <div *ngIf="commentForm.controls.text.invalid && commentForm.controls.text.touched">متن پیام را وارد کنید
              </div>
              <button [disabled]="!commentForm.valid" type="submit">ثبت</button>
            </form>
          </div>
        </li>
      </ul>
      <app-comments [comments]="comments"></app-comments>

    </div>
  </div>
</section>

<app-footer></app-footer>
