<section class="header-section hedsect">
  <app-header></app-header>
  <app-banner [isHome]="true">

    <div class="listbox-wrapper container">
      <ul class="cours-listbox" style="width:100%">
        <li class="list-item" *ngFor="let workshop of workshops">
          <a [routerLink]="['/workshop', workshop.identity]">
            <div class="thumbnail-cours-img">
              <img src="{{workshop.imageSrc}}">
            </div>
            <div class="timeline"></div>
            <div class="wrapper">
              <h1 class="cours-title">{{workshop.title}}</h1>
              <div class="cours-date number-persian">{{workshop.dateTime}}</div>
              <div class="teacher number-persian">تدریس توسط {{workshop.userDetail}}</div>

            </div>
            <div class="btn btn-primery number-persian">
              {{workshop.cost}} تومان
              <i class="icon-ic_left"></i>
            </div>
          </a>
        </li>
        <li class="more sans-font">
          <a (click)="nextPage()" *ngIf="serverCurrentPageNumber<serverTotalpages">ادامه</a>
        </li>
      </ul>
    </div>
  </app-banner>
</section>
<app-footer></app-footer>