<section class="purchase">
  <div class="purchase-wrapper">
    <span class="title-purchase">
      {{workshop.title}}
    </span>
    <div class="date-price-wrapper">
      <div class="date">
        <h3>تاریخ و زمان دوره</h3>
        <span class="number-persian">{{workshop.dateTime}}</span>
        <span class="number-persian">{{workshop.time}}</span>
        <span class="number-persian">{{workshop.duration}}</span>

      </div>
      <div class="price">
        <h3>قیمت دوره</h3>
        <span class="number-persian">{{workshop.cost}}</span>
      </div>
    </div>
    <a class="btn" (click)="goToBank()" *ngIf="workshop.cost!=0">
      اتصال به درگاه بانک و پرداخت
    </a>
    <a class="btn" (click)="goToBank()" *ngIf="workshop.cost==0">
        ثبت نام رایگان
      </a>
  </div>
</section>