<ul class="profile" *ngFor="let item of comments">
  <li class="right">
    <a class="profile-img comment-img">
      <!-- <img src="assets/images/profile-img.jpg" alt=""> -->
      <img *ngIf="item.email" ngxGravatar [email]="item.email">

    </a>
    <span class="lg-name">{{item.username}}</span>
  </li>
  <li class="left">
    <div class="wrapper">
      <div class="comment-box clearfix">
        <span class="sm-name">{{item.username}}</span>
        <p>
          {{item.text}}
        </p>
        <a (click)="replyTo=item" class="btn" [ngx-scroll-to]="'reply'">
          <span>پاسخ به این نظر</span>
        </a>
        <div class="like-wrapper">
          <a href="#" class="btn like">
            <div class="icon-like"></div>
            <span>{{item.rate}}</span>
          </a>
          <a href="#" class="btn dis-like">
            <div class="dis-like"></div>
            <span>1247</span>
          </a>
        </div>
        <ul class="profile reply">
          <li class="left">
            <div class="wrapper">
              <div class="comment-box clearfix">

                <ul class="profile reply rig" *ngFor="let reply of item.children">
                  <li class="right ">
                    <a class="profile-img comment-img reply-img">
                      <!-- <img src="assets/images/profile-img.jpg" alt=""> -->
                      <img *ngIf="reply.email" ngxGravatar [email]="reply.email">


                    </a>
                    <span class="lg-name">
                      {{reply.username}}

                    </span>
                  </li>
                  <li class="left">
                    <div class="wrapper">
                      <div class="comment-box comment-reply-box clearfix">
                        <span class="sm-name"> {{reply.username}}</span>
                        <p>
                          {{reply.text}}
                        </p>
                        <div class="like-wrapper">
                          <a href="#" class="btn like">
                            <div class="icon-like"></div>
                            <span>{{reply.rate}}</span>
                          </a>
                          <a href="#" class="btn dis-like">
                            <div class="dis-like"></div>
                            <span>1247</span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </li>

        </ul>
      </div>
    </div>
  </li>
</ul>
