<div class="modal-header">
  <!-- <h4 class="modal-title">Hi there!</h4> -->
  <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <section class="registration">
    <div class="registration-wrapper">
      <div class="reg-list" >
        <ul>
          <li class="item current reg-active" data-tab="tab_1">ورود</li>
        </ul>
      </div>
      <div class="reg-tab current" id="tab_1" >
        <form class="reg-form" [formGroup]="PhoneForm" (ngSubmit)="onPhoneSubmit()"  *ngIf="!showCodeForm">
          <input type="text" name="mobile" placeholder="شماره همراه" formControlName = "mobile" [ngClass]="{ 'is-invalid': phoneSubmitted && pf.mobile.errors }">
          <div *ngIf="phoneSubmitted && pf.mobile.errors" class="invalid-feedback">
            <div *ngIf="pf.mobile.errors.required">شماره تماس لازم است.</div>
        </div>
          <button class="btn" type="submit" value="Submit">دریافت کد</button>
        </form> 

        <form class="reg-form" [formGroup]="CodeForm" (ngSubmit)="onCodeSubmit()"  *ngIf="showCodeForm">
          <!-- <input type="text" name="mobile" placeholder="شماره همراه" formControlName = "mobile" [ngClass]="{ 'is-invalid': submitted && cf.mobile.errors }">
          <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
            <div *ngIf="cf.mobile.errors.required">شماره تماس لازم است.</div>
        </div> -->
          <input type="text" name="password" placeholder="کد ارسالی" formControlName = "password" [ngClass]="{ 'is-invalid': codeSubmitted && cf.password.errors }">
          <div *ngIf="codeSubmitted && cf.password.errors" class="invalid-feedback">
            <div *ngIf="cf.password.errors.required">کد لازم است.</div>
        </div>
          <button class="btn" type="submit" value="Submit">ورود</button>
          <a (click)="retry()">ارسال مجدد</a>
        </form> 
      </div>
      
    </div>
  </section>
</div>
<!-- <div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div> -->