
<div  *ngIf="isHome" class="banner">
        <ul class="shap-wrapper">
          <li>
            <div class="col" style="left: 20%;top: 0;width:40%;">
              <span class="shap shap1" style="left: 0;top: 0;width:100%;"></span>
            </div>
          </li>
          <li>
            <div class="col" style="width:35%;left:-5%;">
              <span class="shap shap2" style="left: 0;top: 0;width:100%;"></span>
              <span class="shap shap3" style="left: -33%;top: -15px;width:100%;opacity:0.6;"></span>
            </div>
          </li>
          <li>
            <div class="col" style="left: 29%;top: 0;width:31%;">
              <span class="shap shap1" style="left: 0;top: 0;width:100%;"></span>
            </div>
            <div class="col" style="left: 16%;top: 0;width:26%;">
              <span class="shap shap1" style="left: 0;top: 0;width:100%;"></span>
            </div>
            <div class="col" style="left: 14%;top: 0;width:5%;">
              <span class="shap shap1" style="left: 0;top: 0;width:100%;"></span>
            </div>
          </li>
          <li>
            <div class="col" style="left: 17%;top: -8px;width:7%;">
              <span class="shap shap4" style="left: 0;top: 0;width:100%;"></span>
            </div>
            <div class="col" style="width:23%;left:14%;top: -8px;">
              <span class="shap shap3" style="left: 0;top: 0;width:100%;"></span>
              <span class="shap shap3" style="left: -131px;top: -15px;width:100%;opacity:0.6;"></span>
            </div>
          </li>
          <li>
            <div class="col" style="left: 15%;top: 0;width:40%;">
              <span class="shap shap1" style="left: 0;top: 0;width:100%;"></span>
            </div>
          </li>
          <li>
            <div class="col" style="width:35%;left:-5%;top: -16px;">
              <span class="shap shap5" style="left: 0;top: 0;width:100%;"></span>
              <span class="shap shap6" style="left: -25%;top: 15px;width:100%;opacity:0.6;"></span>
            </div>
          </li>
          <li>
            <div class="col" style="left: -3%;top: 0;width:40%;">
              <span class="shap shap1" style="left: 0;top: 0;width:100%;"></span>
            </div>
          </li>
          <li>
            <div class="col" style="left: 20%;top: -32px;width:40%;">
              <span class="shap shap1" style="left: 0;top: 0;width:100%;"></span>
            </div>
            <div class="col" style="width:37%;left:10%;top: -19px;">
              <span class="shap shap7" style="left: 0;top: 0;width:100%;"></span>
              <span class="shap shap8" style="left: -25%;top: 15px;width:100%;opacity:0.6;"></span>
            </div>
          </li>
          <li style="height:150px;">
            <div class="col" style="left: 2%;top: 25px;width:7%;vertical-align: top;">
              <span class="shap shap4" style="left: 0;top: 0;width:100%;"></span>
              <span class="shap shap9" style="left: -35%;top: 15px;width:100%;opacity:0.7;"></span>
            </div>
            <div class="col banner-title" style="left: 0%;top: 0;overflow:visible;">
              <svg width="100%" height="100px" viewBox="0 0 450 100" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <!-- Generator: Sketch 47.1 (45422) - http://www.bohemiancoding.com/sketch -->
                <title>/Codemy.</title>
                <desc>Created with Sketch.</desc>
                <defs>
                  <linearGradient x1="115.855078%" y1="-173.221607%" x2="-23.376575%" y2="237.928445%" id="linearGradient-1">
                    <stop stop-color="#00AEEF" offset="0%"></stop>
                    <stop stop-color="#841EF9" offset="100%"></stop>
                  </linearGradient>
                </defs>
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="Desktop" transform="translate(-195.000000, -452.000000)" fill="url(#linearGradient-1)">
                    <path d="M248,453 L234.498947,453 L195,532 L208.389474,532 L248,453 Z M279.450072,532 C301.625181,532 312.991317,517.710419 316,505.91069 L301.625181,501.688769 C299.507959,508.833559 292.93343,517.385656 279.450072,517.385656 C266.746744,517.385656 254.934877,508.400541 254.934877,492.054127 C254.934877,474.625169 267.41534,466.397835 279.227207,466.397835 C292.93343,466.397835 299.062229,474.516915 300.956585,481.878214 L315.442836,477.439783 C312.322721,464.990528 301.068017,452 279.227207,452 C258.054993,452 239,467.588633 239,492.054127 C239,516.519621 257.386397,532 279.450072,532 Z M347.5,520 C354.52,520 361,514.796429 361,504.5 C361,494.203571 354.52,489 347.5,489 C340.48,489 334,494.203571 334,504.5 C334,514.685714 340.48,520 347.5,520 Z M346.5,475 C362.738372,475 375,486.902299 375,503.5 C375,519.988506 362.738372,532 346.5,532 C330.261628,532 318,519.988506 318,503.5 C318,486.902299 330.261628,475 346.5,475 Z M436.552941,452 L436.552941,521.021739 C436.552941,524.608696 436.776471,528.521739 437,530.695652 L422.805882,530.695652 C422.582353,529.608696 422.247059,527 422.247059,524.5 C419.788235,528.73913 414.2,532 406.823529,532 C391.176471,532 380,520.043478 380,503.847826 C380,488.195652 390.841176,475.913043 406.376471,475.913043 C415.876471,475.913043 420.347059,479.717391 421.911765,482.543478 L421.911765,452 L436.552941,452 Z M395,504.388489 C395,514.201439 400.563786,520 408.053498,520 C415.329218,520 421,514.201439 421,504.276978 C421,494.464029 415.329218,489 408.053498,489 C400.777778,489 395,494.57554 395,504.388489 Z M454,498 L478,498 C477.781818,492.948454 474.290909,488 466,488 C458.472727,488 454.327273,493.360825 454,498 Z M479.861856,511.362069 L492.220619,514.965517 C489.437113,524.247126 480.752577,532 467.280412,532 C452.249485,532 439,521.408046 439,503.281609 C439,486.137931 451.915464,475 465.94433,475 C482.868041,475 493,485.591954 493,502.844828 C493,504.91954 492.77732,507.103448 492.77732,507.321839 L453.585567,507.321839 C453.919588,514.41954 460.043299,519.551724 467.391753,519.551724 C474.294845,519.551724 478.080412,516.166667 479.861856,511.362069 Z M510.876165,530 L510.876165,499.264822 C510.876165,493.501976 514.679095,488.913043 521.166445,488.913043 C527.877497,488.913043 530.89747,493.181818 530.89747,498.837945 L530.89747,530 L545.661784,530 L545.661784,499.264822 C545.661784,493.608696 549.464714,488.913043 555.840213,488.913043 C562.663116,488.913043 565.571238,493.181818 565.571238,498.837945 L565.571238,530 L580,530 L580,495.956522 C580,481.869565 570.268975,476 560.090546,476 C552.82024,476 547.003995,478.347826 542.641811,484.750988 C539.845539,479.094862 533.805593,476 526.311585,476 C520.271638,476 513.225033,478.774704 510.20506,483.897233 L510.20506,477.494071 L496,477.494071 L496,530 L510.876165,530 Z M603.856354,552 L638,477 L622.309392,477 L608.939227,508.48688 L594.464088,477 L578,477 L601.093923,524.011662 L588.276243,552 L603.856354,552 Z M625,522 C625,527.494505 629.480874,532 634.945355,532 C640.519126,532 645,527.494505 645,522 C645,516.505495 640.519126,512 634.945355,512 C629.480874,512 625,516.505495 625,522 Z"
                      id="/Codemy."></path>
                  </g>
                </g>
              </svg>
              <h1 class="">اولین سایت تخصصی آموزش برنامه نویسی</h1>
              <h2>در جلسات آنلاین</h2>
            </div>
            <div class="col" style="width:20%;left:-3%;top: 44px;vertical-align: top;">
              <span class="shap shap5" style="left: 0;top: 0;width:100%;"></span>
              <span class="shap shap8" style="left: -25%;top: -15px;width:100%;opacity:0.2;"></span>
            </div>
          </li>
          <li>
            <div class="col" style="left: -3%;top: -70px;width:40%;">
              <span class="shap shap1" style="left: 0;top: 0;width:100%;"></span>
            </div>
          </li>
          <li>
            <div class="col" style="left: 20%;top: 0;width:38%;">
              <span class="shap shap1" style="left: 0;top: 0;width:100%;"></span>
            </div>
            <div class="col" style="width:37%;left:-5%;top: -19px;">
              <span class="shap shap7" style="left: 0;top: 0;width:100%;"></span>
              <span class="shap shap10" style="left: -16%;top: -15px;width:100%;opacity:1;"></span>
            </div>
          </li>
          <li>
            <div class="col" style="left:-4%;top: 0px;width:36px;">
              <span class="shap shap4" style="left: 0;top: 0;width:100%;"></span>
            </div>
            <div class="col" style="width:41%;left:-5%;top: 0px;">
              <span class="shap shap11" style="left: 0;top: 0;width:100%;"></span>
              <span class="shap shap11" style="left: -16%;top: -15px;width:100%;opacity:1;"></span>
            </div>
          </li>
          <li>
            <div class="col" style="left: 17%;top: 13px;width:36%;">
              <span class="shap shap1" style="left: 0;top: 0;width:100%;"></span>
            </div>
            <div class="col" style="left: 6%;top: 0;width:32%;">
              <span class="shap shap1" style="left: 0;top: 0;width:100%;"></span>
            </div>
            <div class="col" style="left: 1%;top: 0;width:36px;">
              <span class="shap shap1" style="left: 0;top: 0;width:100%;"></span>
            </div>
          </li>
        </ul>
       <ng-content></ng-content>
      </div>

<div *ngIf="!isHome" class="banner">
        <ul class="shap-wrapper">
          <li>
            <div class="col" style="left: 20%;top: 0;width:40%;">
              <span class="shap shap2" style="left: 0;top: 0;width:100%;"></span>
            </div>
          </li>
          <li>
            <div class="col" style="width:35%;left:-5%;">
              <span class="shap shap2" style="left: 0;top: 0;width:100%;"></span>
              <span class="shap shap3" style="left: -33%;top: -15px;width:100%;opacity:0.6;"></span>
            </div>
          </li>
          <li>
            <div class="col" style="left: 29%;top: 0;width:31%;">
              <span class="shap shap2" style="left: 0;top: 0;width:100%;"></span>
            </div>
            <div class="col" style="left: 16%;top: 0;width:26%;">
              <span class="shap shap2" style="left: 0;top: 0;width:100%;"></span>
            </div>
            <div class="col" style="left: 14%;top: 0;width:5%;">
              <span class="shap shap2" style="left: 0;top: 0;width:100%;"></span>
            </div>
          </li>
          <li>
            <div class="col" style="left: 17%;top: -8px;width:7%;">
              <span class="shap shap4" style="left: 0;top: 0;width:100%;"></span>
            </div>
            <div class="col" style="width:23%;left:14%;top: -8px;">
              <span class="shap shap3" style="left: 0;top: 0;width:100%;"></span>
              <span class="shap shap3" style="left: -131px;top: -15px;width:100%;opacity:0.6;"></span>
            </div>
          </li>
          <li>
            <div class="col" style="left: 15%;top: 0;width:40%;">
              <span class="shap shap2" style="left: 0;top: 0;width:100%;"></span>
            </div>
          </li>
          <li>
            <div class="col" style="width:35%;left:-5%;top: -16px;">
              <span class="shap shap5" style="left: 0;top: 0;width:100%;"></span>
              <span class="shap shap6" style="left: -25%;top: 15px;width:100%;opacity:0.6;"></span>
            </div>
          </li>
          <li>
            <div class="col" style="left: -3%;top: 0;width:40%;">
              <span class="shap shap2" style="left: 0;top: 0;width:100%;"></span>
            </div>
          </li>
          <li>
            <div class="col" style="left: 20%;top: -32px;width:40%;">
              <span class="shap shap2" style="left: 0;top: 0;width:100%;"></span>
            </div>
            <div class="col" style="width:37%;left:10%;top: -19px;">
              <span class="shap shap7" style="left: 0;top: 0;width:100%;"></span>
              <span class="shap shap8" style="left: -25%;top: 15px;width:100%;opacity:0.6;"></span>
            </div>
          </li>
  
          <li>
            <div class="col" style="left: -3%;top: -70px;width:40%;">
              <span class="shap shap2" style="left: 0;top: 0;width:100%;"></span>
            </div>
          </li>
          <li>
            <div class="col" style="left: 20%;top: 0;width:38%;">
              <span class="shap shap2" style="left: 0;top: 0;width:100%;"></span>
            </div>
            <div class="col" style="width:37%;left:-5%;top: -19px;">
              <span class="shap shap7" style="left: 0;top: 0;width:100%;"></span>
              <span class="shap shap20" style="left: -16%;top: -15px;width:100%;opacity:1;"></span>
            </div>
          </li>
          <li>
            <div class="col" style="left:-4%;top: 0px;width:36px;">
              <span class="shap shap4" style="left: 0;top: 0;width:100%;"></span>
            </div>
            <div class="col" style="width:41%;left:-5%;top: 0px;">
              <span class="shap shap21" style="left: 0;top: 0;width:100%;"></span>
              <span class="shap shap21" style="left: -16%;top: -15px;width:100%;opacity:1;"></span>
            </div>
          </li>
          <li>
            <div class="col" style="left: 17%;top: 13px;width:36%;">
              <span class="shap shap2" style="left: 0;top: 0;width:100%;"></span>
            </div>
            <div class="col" style="left: 6%;top: 0;width:32%;">
              <span class="shap shap2" style="left: 0;top: 0;width:100%;"></span>
            </div>
            <div class="col" style="left: 1%;top: 0;width:36px;">
              <span class="shap shap2" style="left: 0;top: 0;width:100%;"></span>
            </div>
          </li>
        </ul>
        
      </div>