<footer>
        <div class="container">
            <div class="wrapper">
                <ul>
                    <li>
                        <p>
                                The standard library saves programmers from having to reinvent the wheel. 									
                        </p>
                        <span>
                            — Bjarne Stroustrup
                        </span>
                    </li>
                    <li>
                        <img src="assets/images/support1.png">
                    </li>
                    <li>
                        <a href="#">
                            <img src="assets/images/003-linkedin.png">
                        </a>
                        <a href="#">
                            <img src="assets/images/004-instagram.png">
                        </a>
                        <a href="#">
                            <img src="assets/images/002-twitter.png">
                        </a>
                        <a href="#">
                            <img src="assets/images/001-telegram.png">
                        </a>
                    </li>
                    <li>
                        /Codemy.<span>2017</span>
                    </li>
                </ul>
                <p></p>
            </div>

        </div>
    </footer>