<header>
  <nav class="container">
    <ul>
      <li class="menu-item">
        <a [routerLink]="['/']">
          خانه
        </a>
      </li>
      <li class="menu-item" *ngIf="userDetail && userDetail.userId==''">
        <a (click)="open()">
          ورود
        </a>
      </li>
      <li class="menu-item" *ngIf="userDetail && userDetail.userId!=''">
        <a (click)="signout()">
          خروج
        </a>
      </li>
      <li class="menu-item" *ngIf="userDetail && userDetail.userId!=''">
        <a [routerLink]="['/profile']">
          پروفایل
        </a>
      </li>
      <li class="menu-item">
        <a [routerLink]="['/workshops']">
          لیست کارگاه ها
        </a>
      </li>
      <li class="menu-item">
        <a [routerLink]="['/blog']">
          وبلاگ
        </a>
      </li>
      <li class="menu-item">
        <a [routerLink]="['/news']">
          اخبار و زمان بندی
        </a>
      </li>
      <li class="menu-item">
        <a href="#">
          ارتباط با ما
        </a>
      </li>
    </ul>
    <div class="logo">
      <a [routerLink]="['/']">
        <img src="/assets/images/logo.png">
      </a>
    </div>
    <div class="canvas-menu">
      <a href="#menu" id="toggle">
        <span></span>
      </a>
      <div id="menu">
        <ul>
          <li>
            <a href="#">ورود به کلاس</a>
          </li>
          <li>
            <a href="#">لیست دوره ها</a>
          </li>
          <li>
            <a href="#">وبلاگ</a>
          </li>
          <li>
            <a href="#">اخبار و زمان بندی</a>
          </li>
          <li>
            <a href="#">ارتباط با ما</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
