@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?r0jm67');
  src:  url('fonts/icomoon.eot?r0jm67#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?r0jm67') format('truetype'),
    url('fonts/icomoon.woff?r0jm67') format('woff'),
    url('fonts/icomoon.svg?r0jm67#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter .path1:before {
  content: "\e900";
  color: rgb(52, 117, 243);
}
.icon-twitter .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-linkedin .path1:before {
  content: "\e902";
  color: rgb(52, 117, 243);
}
.icon-linkedin .path2:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-instagram:before {
  content: "\e904";
  color: #3475f3;
}
.icon-arrow_left:before {
  content: "\e905";
  color: #000;
}
.icon-blueuser:before {
  content: "\e906";
  color: #3475f3;
}
.icon-calendar .path1:before {
  content: "\e907";
  color: rgb(231, 236, 237);
}
.icon-calendar .path2:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(115, 131, 191);
}
.icon-calendar .path3:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(115, 131, 191);
}
.icon-calendar .path4:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(66, 74, 96);
}
.icon-calendar .path5:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(66, 74, 96);
}
.icon-calendar .path6:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(66, 74, 96);
}
.icon-calendar .path7:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(66, 74, 96);
}
.icon-calendar .path8:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(66, 74, 96);
}
.icon-calendar .path9:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(239, 206, 74);
}
.icon-calendar .path10:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(237, 113, 97);
}
.icon-calendar .path11:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(148, 148, 147);
}
.icon-calendar .path12:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(148, 148, 147);
}
.icon-calendar .path13:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(66, 74, 96);
}
.icon-calendar .path14:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(66, 74, 96);
}
.icon-calendar .path15:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(66, 74, 96);
}
.icon-calendar .path16:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(66, 74, 96);
}
.icon-calendar .path17:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(66, 74, 96);
}
.icon-calendar .path18:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(239, 206, 74);
}
.icon-calendar .path19:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(237, 113, 97);
}
.icon-calendar .path20:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(66, 74, 96);
}
.icon-calendar .path21:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(66, 74, 96);
}
.icon-calendar .path22:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(66, 74, 96);
}
.icon-calendar .path23:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(66, 74, 96);
}
.icon-calendar .path24:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(66, 74, 96);
}
.icon-calendar .path25:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(148, 148, 147);
}
.icon-calendar .path26:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(148, 148, 147);
}
.icon-calendar .path27:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(239, 206, 74);
}
.icon-calendar .path28:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(237, 113, 97);
}
.icon-calendar .path29:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(66, 74, 96);
}
.icon-calendar .path30:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(66, 74, 96);
}
.icon-calendar .path31:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(66, 74, 96);
}
.icon-calendar .path32:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(247, 230, 161);
}
.icon-calendar .path33:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(66, 74, 96);
}
.icon-check .path1:before {
  content: "\e928";
  color: rgb(0, 0, 0);
}
.icon-check .path2:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(50, 182, 122);
}
.icon-check .path3:before {
  content: "\e92a";
  margin-left: -1em;
  color: none;
}
.icon-download:before {
  content: "\e92b";
  color: #fff;
}
.icon-history:before {
  content: "\e92c";
  color: #3475f3;
}
.icon-man:before {
  content: "\e92d";
  color: #3475f3;
}
.icon-pin .path1:before {
  content: "\e92e";
  color: rgb(52, 117, 243);
}
.icon-pin .path2:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-play .path1:before {
  content: "\e930";
  color: rgb(0, 0, 0);
}
.icon-play .path2:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(93, 71, 246);
}
.icon-tdown:before {
  content: "\e932";
  color: #fff;
}
.icon-tup:before {
  content: "\e933";
  color: #fff;
}
.icon-whiteuser:before {
  content: "\e934";
  color: #fff;
}
.icon-telegram .path1:before {
  content: "\e935";
  color: rgb(52, 117, 243);
}
.icon-telegram .path2:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(229, 229, 229);
}
.icon-telegram .path3:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(52, 117, 243);
}
.icon-telegram .path4:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-telegram .path5:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(219, 231, 255);
}
.icon-telegram .path6:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
