<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8" />
  <title></title>
</head>

<body>
  <table>
    <tr>
      <td>
        <img src="http://pngimg.com/uploads/email/email_PNG30.png" />
        <br />
        <br />
        <div style="border-top:3px solid #22BCE5"> </div>
        <span style="font-family:Arial;font-size:10pt">
          <br />
          <h3 style="color:#22BCE5">{{Subject}}</h3>
          <br />
          <br />
          <p>{{Fullname}} عزیز، برای تایید ایمیل بروی لینک زیر کلیک نمایید:</p>
          <br />
          <br />
          <a href='{{CallbackUrl}}'>{{CallbackUrl}}</a>
        </span>
      </td>
    </tr>
  </table>
</body>

</html>
