<section class="header-section hedsect">
  <app-header></app-header>
  <app-banner></app-banner>

</section>

<section class="news-course-section " *ngIf="topNews">
  <div class="container">
    <div class="news2-box">
      <div class="news-slide">
        <img [src]="topNews.image" alt="">
      </div>
      <div class="content-news clearfix">
        <div class="title" [innerHtml]="topNews.title">
        </div>
        <div class="text" [innerHtml]="topNews.summary">
        </div>
        <span class="number-persian"> {{topNews.date}}</span>
        <a class="btn" [routerLink]="['/post', topNews.identity, topNews.urlTitle]">ادامه خبر...</a>
      </div>
    </div>
  </div>
</section>
<section class="news-section news2-section">
  <div class="container">
    <div class="news-items part2">
      <div class="item" *ngFor="let item of news">
        <a [routerLink]="['/post', item.identity, item.urlTitle]">
          <div class="img-news">
            <img src="assets/images/n9.jpg">
          </div>
          <div class="content">
            <h1>
              {{item.title}}
            </h1>
            <p class="des">
              {{item.summary}}
            </p>
            <span class="date number-persian">
              {{item.date}}
            </span>
            <!-- <span class="btn btn-primery">
                ادامه خبر...
              </span> -->
          </div>
        </a>
      </div>
      <a (click)="nextPage()" *ngIf="serverCurrentPageNumber<serverTotalpages">ادامه</a>
    </div>
  </div>
</section>
<app-footer></app-footer>