<section class="header-section hedsect">
  <app-header></app-header>
  <app-banner></app-banner>

</section>
<section class="news-course-section news-detail-section" *ngIf="post">
  <div class="container">
    <div class="news2-box">
        <div class="news-slide">
            <img [src]="post.image" alt="">
          </div>
      <div class="content-news">
        <div class="title" [innerHtml]="post.title">
        </div>
        <span class="number-persian">{{post.date}}</span>
        <div class="text" [innerHtml]="post.postContent">
        </div>
        <div class="social-media">
          <ul>
            <li class="item">
              <a href="#">
                <img src="assets/images/003-linkedin.png">
              </a>
            </li>
            <li class="item">
              <a href="#">
                <img src="assets/images/004-instagram.png">
              </a>
            </li>
            <li class="item">
              <a href="#">
                <img src="assets/images/002-twitter.png">
              </a>
            </li>
            <li class="item">
              <a href="#">
                <img src="assets/images/001-telegram.png">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="comment-section">
  <div class="container">
    <div class="comment-wrapper">
      <ul class="profile">
        <li class="right">
          <a class="profile-img">
            <img src="assets/images/profile-img2.jpg" alt="">
          </a>
          <span class="lg-name">نظر شما</span>
        </li>
        <li class="left guest">
          <div class="wrapper">
            <div class="comment-box clearfix" *ngIf="!isLogin">

              <span class="sm-name">نظر شما</span>
              <p>
                برای ارسال دیدگاه باید ثبت نام کنید.
              </p>
              <a href="#" class="btn">
                <div class=" icon-blueuser"></div>
                <span>ثبت نام در کدمی</span>
                <div class=""></div>
              </a>


            </div>
            <div id="reply">
              <div *ngIf="replyTo">
                {{replyTo.text}}
                <a (click)="replyTo=null">X</a>
              </div>
            </div>
            <form [formGroup]="commentForm" (ngSubmit)="onFormSubmit()" *ngIf="isLogin">
              <textarea formControlName="text" placeholder="متن پیام"></textarea>
              <div *ngIf="commentForm.controls.text.invalid && commentForm.controls.text.touched">متن پیام را وارد کنید</div>
              <button [disabled]="!commentForm.valid" type="submit">ثبت</button>
            </form>
          </div>
        </li>
      </ul>
      
     <app-comments [comments]="comments"></app-comments>

    </div>
  </div>
</section>
<app-footer></app-footer>
<!-- jQuery -->