<div class="page page-bank-result">
    <div class="container">
        <div class="bank-result layout-wrapp">
            <div *ngIf="loading">
                <div class="page-loading"></div>
            </div>
            <div *ngIf="!loading">
                <div class="alert" [class.alert-danger]="isError" [class.alert-success]="!isError">
                        {{message}}
                </div>
                <div class="text-left">
                    <a class="btn btn-primary" (click)="goToPage()">{{actionMessage}}</a>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- <div *ngIf="loading">
        <h1>لطفا کمی صبر کنید...</h1>
    </div>
    <div *ngIf="!loading">
        <h2>{{message}}</h2>
        <a (click)="goToPage()">{{actionMessage}}</a>
    </div> -->