<div class="page page-bank-result">
    <div class="container">
        <div class="bank-result layout-wrapp">
            <div>
                <div class="alert alert-success">
                    {{message}}
                </div>
                <div class="text-left">
                    <a class="btn btn-primary" (click)="goToPage()">{{actionMessage}}</a>
                </div>
            </div>
        </div>
    </div>
</div>